{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        <input type="button" class="btn btn-success" value="SNS 홈으로" onclick="location.href='{% url 'sns:index' %}'">
        <input type="submit" value="수정" class="btn btn-primary">
    </form>
{% endblock %}