.main-cards {
    margin: 50px auto;
}

.main-cards .card {
  padding: 0 0;
}

.main-cards .card .card-content .card-desc {
  margin-top: 20px;
  text-align: justify;
  font-weight: lighter;
}

.card { 
  transition: all .2s ease-in-out; 
}

.card:hover { 
  transform: scale(1.03); 
  font-weight : bold;
}

.card a:hover {
  text-decoration: none !important;
}

.card-title,
.card-desc {
  color : black;
}