@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}

@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}

@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'LotteMartDream', sans-serif !important;
}

body {
    font-family: 'LotteMartDream', sans-serif !important;
}

nav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0);
}

.home-window {
    background-image: url('../img/pony.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 500px;
    border-top: 10px solid #ccc;
    border-bottom: 10px solid #ccc;
    color: black;
    padding: 20px 0 0 20px;
}

.title {
    color: black;
    font-weight: bold;
}

.powered {
    position: relative;
    top: 55%;
    color: black;
    font-style: italic;
}

.navbar{
    min-height: 60px;
    z-index: 9999 !important;
}

.navbar-service{
    font-size: 21px;
    color: black;
}

.nav-link {
    font-size : 16px;
}

.username{
    font-size: 18px;
    color: black;   
}

.fas{
    font-size: 28px;
}

.logo-str{
    font-size: 24px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 600px;
    background-image: cover;
}

.carousel-title .title {
    position: absolute;
    transform: translateY(-50%);
    top: 260px;
    left: 0;
    font-size: 75px;
    color:white;
    width: 100%;
    padding: 0 0;
    text-align: center;
    /* text-shadow: 0 0 2px black; */
}

.carousel-title .subtitle {
    position: absolute;
    transform: translateY(-50%);
    top: 340px;
    left: 0;
    font-size: 40px;
    color:white;
    width: 100%;
    padding: 0 0;
    text-align: center;
    /* text-shadow: 0 0 2px black; */
}

.carousel-item {
    background-color:gray;
    opacity: 1.0;
}

/* .image-cover {
    background-color: gray;
    opacity: 1;
} */

/* pagnation */
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }

/* scroll-bar */
.scrollbar-lady-lips::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
}
    
.scrollbar-lady-lips::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
}
    
.scrollbar-lady-lips::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9a9e), color-stop(99%, #fecfef),
    to(#fecfef));
    background-image: -webkit-linear-gradient(bottom, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%); 
}

    
.square::-webkit-scrollbar-track {
    border-radius: 0 !important; 
}
    
.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important; 
}
    
.thin::-webkit-scrollbar {
    width: 6px; height:10px;
}
    /* scroll-bar end */


