{% load staticfiles %}

<div class="container mt-5 mb-5 p-5">
    <div class="row">
        <h5 class="pl-3">HOT Makeup Video</h5>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-3">
            <div class="card">
                <img src="{% static 'img/main.jpeg' %}" width="100%" height="100%">
                <div class="card-title pl-2 pr-2 pt-2">테일러스위프트 메이크업</div>
                <div class="card-content  pl-2 pr-2 mb-2 text-right">PONY</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img src="{% static 'img/main.jpeg' %}" width="100%" height="100%">
                <div class="card-title pl-2 pr-2 pt-2">테일러스위프트 메이크업</div>
                <div class="card-content  pl-2 pr-2 mb-2 text-right">PONY</div>
            </div>
        </div>
        <div class=" col-3">
            <div class="card">
                <img src="{% static 'img/main.jpeg' %}" width="100%" height="100%">
                <div class="card-title pl-2 pr-2 pt-2">테일러스위프트 메이크업</div>
                <div class="card-content  pl-2 pr-2 mb-2 text-right">PONY</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img src="{% static 'img/main.jpeg' %}" width="100%" height="100%">
                <div class="card-title pl-2 pr-2 pt-2">테일러스위프트 메이크업</div>
                <div class="card-content  pl-2 pr-2 mb-2 text-right">PONY</div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <h5 class="pl-3">HOT Post</h5>
    </div>
    <div class="row d-flex justify-content-center mb-5">
        <div class="col-3">
            <div class="card">
                <img src="{% static 'img/Test.jpg' %}" width="100%" height="100%">
                <div class="card-title pl-2 pr-2 pt-2">여자보다 이쁘게 화장하기</div>
                <div class="card-content  pl-2 pr-2 mb-2 text-right">유인근</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img src="{% static 'img/Test.jpg' %}" width="100%" height="100%">
                <div class="card-title pl-2 pr-2 pt-2">여자보다 이쁘게 화장하기</div>
                <div class="card-content  pl-2 pr-2 mb-2 text-right">유인근</div>
            </div>
        </div>
        <div class=" col-3">
            <div class="card">
                <img src="{% static 'img/Test.jpg' %}" width="100%" height="100%">
                <div class="card-title pl-2 pr-2 pt-2">여자보다 이쁘게 화장하기</div>
                <div class="card-content  pl-2 pr-2 mb-2 text-right">유인근</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img src="{% static 'img/Test.jpg' %}" width="100%" height="100%">
                <div class="card-title pl-2 pr-2 pt-2">여자보다 이쁘게 화장하기</div>
                <div class="card-content  pl-2 pr-2 mb-2 text-right">유인근</div>
            </div>
        </div>
    </div>
</div>