<footer class="bg-dark text-light py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-6 col-md-6 col-lg-3 mb-2">
                <h5 class="text-uppercase">More about</h5>
                <ul class="nav flex-column">
                    <li><a class="text-white" target="ext" rel="nofollow" href="https://cse.cau.ac.kr/main.php"
                            title="CAU CSE Homepage">CAU CSE</a></li>
                    <li><a class="text-white" target="ext" rel="nofollow"
                            href="https://github.com/YooInKeun/CAU_CSE_Capstone_3"
                            title="Beauty For Me Team Github">Beauty For Me Team</a></li>
                    <li><a class="text-white" target="ext" rel="nofollow"
                            href="https://www.google.com/search?q=100000000%24" title="">Our values</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-6 col-lg-3 mb-2">
                <h5 class="text-uppercase">Developers</h5>
                <ul class="nav flex-column">
                    <li><a class="text-white" target="_new" href="https://github.com/JeongBin0227">김정빈</a></li>
                    <li><a class="text-white" target="_new" href="https://github.com/YooInKeun">유인근</a></li>
                    <li><a class="text-white" target="_new" href="https://github.com/choibumsu">최범수</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-6 mb-2 text-right">
                <h5 class="text-uppercase">Follow</h5>
                <ul class="nav float-right">
                    <li><a class="text-white mr-2" target="_new" rel="nofollow" href="https://twitter.com/"
                            title="Follow on Twitter"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>
                    <li><a class="text-white mr-2" target="_new" rel="nofollow"
                            href="https://www.facebook.com/groups/caucse/" title="Follow on Facebook"><i
                                class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a></li>
                    <li><a class="text-white mr" target="_new" rel="nofollow"
                            href="https://github.com/YooInKeun/CAU_CSE_Capstone_3" title="Follow on GitHub"><i
                                class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>