{% extends 'base.html' %}
{% load staticfiles %}

{% block extra-style %}
<!-- MaerializeCSS CDN -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/banner.css' %}">
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<link rel="stylesheet" href="{% static 'css/parallax.css' %}">
<style>
    .carousel-inner {
        background-size: cover;
    }

    .page-title {
        margin-bottom: 40px;
        margin-top: 40px;
        font-weight: bold;
        font-size: 24px;
    }

    .cosmetic-control-btn {
        width: 120px;
        height: 28px;
        font-size: 13px;
        padding: 3px;
    }

    .gray-line {
        margin: 0px;
        padding: 0px;
        height: 1px;
        width: 100%;
        background-color: lightgray;
    }

    .black-line {
        margin: 0px;
        padding: 0px;
        height: 2px;
        width: 100%;
        background-color: lightpink;
    }

    .col-title {
        font-size: 14px;
        font-weight: bold;
    }

    .col-content {
        align-content: center;
    }

    .content-cosmetic {
        font-size: 14px;
    }

    .content-expiration {
        font-size: 14px;
    }

    .content-category {
        font-size: 14px;
    }

    .link-to-cosmetic {
        font-size: 15px;
        text-decoration: underline;
        font-weight: bold;
    }

    .dont-show-desc {
        font-size: 15px;
    }

    .close-btn {
        font-size: 14px;
        padding: 3px 5px;
    }

    input:checked+.slider {
        background-color: lightpink;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px lightpink;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
    }

    label {
        margin: 0px;
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 17px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    nav ul a:hover {
        background-color: unset;
    }

    .left-btn,
    .right-btn {
        color: rgb(255, 155, 172);
        font-weight: bold;
        margin-top: 15px;
        width: 115px;
    }

    .left-btn:hover,
    .right-btn:hover {
        color: black;
    }
</style>
{% endblock extra-style %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #ff9eac !important;">
    <div class="container">
        <a class="navbar-brand text-white" href="{% url 'home' %}" style="font-size:18px;">Beauty For Me</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa fa-navicon"></i></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav mr-auto">

            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:profile' %}">
                        <i class="fa fa-user-o mr-1 h-100" aria-hidden="true"></i>My Page
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">
                        <i class="fa fa-sign-in mr-1 h-100" aria-hidden="true"></i>Logout
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'accounts:login' %}">
                        <i class="fa fa-user-o mr-1 h-100" aria-hidden="true"></i>Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:signup' %}">
                        <i class="fa fa-sign-in mr-1 h-100" aria-hidden="true"></i>Sign Up
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">유통기한 알림</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row m-0 control-bar">
                    <div class="col-5 col-title text-center">제품</div>
                    <div class="col-3 col-title text-center">카테고리</div>
                    <div class="col-4 col-title text-center">유통기한</div>
                    <div class="row black-line"></div>
                </div>
                {% for alarm_cosmetic in alarm_cosmetics %}
                <div class="row m-0">
                    <div class="col-5 d-flex flex-column justify-content-center">
                        <div class="row justify-content-center content-cosmetic">
                            {{alarm_cosmetic.cosmetic.product.product_name}}
                        </div>
                    </div>
                    <div class="col-3 d-flex flex-column justify-content-center">
                        <div class="row justify-content-center content-category">
                            {{alarm_cosmetic.cosmetic.product.category.small_category}}
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-column justify-content-center">
                        <div class="row justify-content-center content-expiration">
                            {{alarm_cosmetic.expiration_date|date:'Y-m-d'}}</div>
                    </div>
                    <div class="gray-line"></div>
                </div>
                {% endfor %}
            </div>
            <a class="text-center link-to-cosmetic" href="{% url 'cosmetic:registered' %}">확인하러 가기</a>
            <div class="modal-footer d-flex justify-content-between">
                <div class="col-6 text-start p-0 m-0">
                    <input id="check" name="check" type='checkbox' class="dont-show">
                    <span class="dont-show-desc">오늘 하루 이 창을 열지 않음</span>
                </div>
                <div class="col-6 text-right">
                    <button type="button" class="btn btn-outline-primary close-btn" onclick="popupModalClose()"
                        data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="App">
    <main>
        <div class="main-page">
            <div class="banner-image">
                <div class="container banner-text">
                    <h2 id="banner-title">당신의 아름다움을 꺼내쓰세요</h2>
                    <p>뷰티폴미가 당신의 숨어있던 아름다움을 찾아드립니다</p>
                </div>
            </div>
            <div class="row container main-cards section">
                <div class="col l4">
                    <div class="card">
                        <div class="card-image"><img src="{% static 'img/card1.jpg' %}" alt=" image-2"></div>
                        <div class="card-content black-text">
                            <span class="card-title center">화장품 관리하기</span>
                            <p class="card-desc">당신의 화장대에서 기억에서 잊혀진 화장품을 찾아보세요. 잊고 있던 화장품이 당신을 더욱 아름답게 해줄 거예요!</p>
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'cosmetic:register' %}">
                                    <div class="btn white btn-outline-primary left-btn">화장품 등록</div>
                                </a>
                                <a href="{% url 'cosmetic:registered' %}">
                                    <div class="btn white btn-outline-primary right-btn ml-3">화장품 관리</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="card">
                        <div class="card-image"><img src="{% static 'img/card2.jpg' %}" alt=" image-2">
                        </div>
                        <div class="card-content black-text">
                            <span class="card-title center">뷰티 유튜브 추천받기</span>
                            <p class="card-desc">당신이 가지고 있는 화장품을 사용한 메이크업 영상을 확인해보세요. 뷰티 유튜버들의 화장 꿀팁을 만나보세요!
                            </p>
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'makeup:video' %}">
                                    <div class="btn white btn-outline-primary left-btn">전체 동영상</div>
                                </a>
                                <a href="{% url 'makeup:recommend' %}">
                                    <div class="btn white btn-outline-primary right-btn ml-3">화장품 조합</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="card">
                        <div class="card-image"><img src="{% static 'img/card3.jpg' %}" alt=" image-2">
                        </div>
                        <div class="card-content black-text">
                            <span class="card-title center">메이크업 후기 공유</span>
                            <p class="card-desc">뷰티폴미를 통해 한층 더 아름다워진 사람들을 확인해보세요. 다른 사람들과 뷰티를 공유하고 자신을 뽐내보세요!</p>
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'sns:index' %}">
                                    <div class="btn white btn-outline-primary left-btn">SNS 피드 보기</div>
                                </a>
                                <a href="{% url 'cosmetic:registered' %}">
                                    <div class="btn white btn-outline-primary right-btn ml-3">랭킹 확인하기</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="center sub-title">숨겨진 당신의 아름다움을 찾아보세요</h3>
            <div class="parallax-container">
                <div class="parallax">
                    <img src="{% static 'img/parallax.jpg' %}">
                </div>
            </div>
            <p class="center container parallax-desc">화장대에 방치된 화장품이 있지는 않으신가요? 혹은 화장품의 유통기한을 잊고 사용하지는 않으신가요?<br />
                뷰티폴미에 화장품을 등록하고 유통기한 알람 서비스를 받아보세요. 당신에게 맞는 유튜브 컨텐츠도 추천해드립니다!
            </p>
            <div class="row container bottom">
                <hr class="divider" />
                <div class="col l7">
                    <h4 class="center bottom-header">뷰티폴미에 가입하고<br />화장품 관리 서비스를 받아보세요</h4>
                    <p>뷰티폴미 서비스는 등록된 화장품의 유통기한 알람 서비스를 제공해드립니다. 저희 뷰티폴미에 저장된 10만 여개의 화장품이 서포트합니다. 그리고 가지고 계신 화장품이 사용된 뷰티
                        유튜브 영상을 추천해드립니다.
                        평소 관심 있던 유튜버가 사용하는 나의 화장품을 만나보세요!
                    </p>
                    <div class="center bottom-button">
                        <a href="{% url 'accounts:signup' %}">
                            <button class="btn z-depth-0 pink lighten-2 waves-effect waves-red modal-trigger"
                                data-target="modal1" style="font-family: 'LotteMartDream', sans-serif !important;">회원가입
                                하기</button>
                        </a>
                    </div>
                </div>
                <div class="col l4 offset-l1 d-flex align-items-center">
                    <img src="{% static 'img/bottom.jpg' %}" class="w-100">
                </div>
            </div>
        </div>
    </main>
</div>
<button id="modalButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    유통기한 알림
</button>
<input id="is_alarm_time" value={{is_alarm_time}}>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
    $(document).ready(function () {
        $('.parallax').parallax();
        var is_alarm_time = document.getElementById("is_alarm_time").value
        $("#is_alarm_time").hide();
        $("#modalButton").hide();
        var result = getCookie('popup');

        if (is_alarm_time == "True" && result != "end") {
            $("#modalButton").trigger('click');
        }
    });

    function getCookie(name) {
        var cookieName = name + "=";
        var x = 0;
        while (x <= document.cookie.length) {
            var y = (x + cookieName.length);
            if (document.cookie.substring(x, y) == cookieName) {
                if ((lastChrCookie = document.cookie.indexOf(";", y)) == -1)
                    lastChrCookie = document.cookie.length;
                return decodeURI(document.cookie.substring(y, lastChrCookie));
            }
            x = document.cookie.indexOf(" ", x) + 1;
            if (x == 0)
                break;
        }
        return "";
    }

    function setCookie(cname, value, expire) {
        var todayValue = new Date();
        todayValue.setDate(todayValue.getDate() + expire);
        document.cookie = cname + "=" + encodeURI(value) + "; expires=" + todayValue.toGMTString() + "; path=/;";
    }

    function popupModalClose() {
        if ($("input:checkbox[name=check]").is(":checked") == true) {
            setCookie("popup", "end", 1);
        }
    };
</script>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}