{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block extra-style%}
<style>
  .page-title {
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0px;
  }

  .description-row {
    border-top: 1px solid rgb(182, 182, 182);
    border-bottom: 1px solid rgb(182, 182, 182);
    padding: 15px 0px;
  }

  .big-category-title {
    font-size: 24px;
    height: 80px;
  }

  .category-section {
    padding-bottom: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .category-wrapper {
    height: 90px;
  }

  .save-btn {
    font-size: 15px;
    padding: 5px 15px;
  }

  .category-title {
    font-size: 13px;
    font-weight: bold;
    color: gray;
    height: 40px;
    align-items: center;
    justify-content: center;
  }

  .importance-avg {
    font-size: 17px;
    font-weight: bold;
    border: 2px solid pink;
    border-radius: 8px;
    padding: 2px 6px;
    margin: 0 8px;
  }

  .importance-input {
    text-align: center;
    font-size: 14px;
    padding: 5px;
    border: 0px;
    border: 1.5px solid pink;
    border-radius: 5px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
  }
</style>
{% endblock %}


{% block navbar%}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div id="app">
  <div class="container">
    <div class="row">
      <h4 class="page-title">화장품의 중요도를 설정해주세요</h4>
    </div>
    <div class="row description-row">
      <div class="col-12 m-0 p-0">중요한 화장품에 높은 점수를 주세요.</div>
      <div class="col-12 m-0 p-0">최대 10점까지 점수를 줄 수 있습니다.</div>
    </div>
    <div v-for="(category, index) in categories">
      <div class="row ">
        <div class="col-12 big-category-title d-flex justify-content-center align-items-center">
          [[category.bigCategory]] <span class="importance-avg">[[ averageImportance[index] ]]</span>
        </div>
      </div>
      <div class="row category-section">
        <div v-for="smallCategory in category.smallCategories"
          class="col-2 category-wrapper d-felx justify-content-center mt-1">
          <div v-html="smallCategory.name" class="category-title row text-center"></div>
          <div class="d-flex justify-content-center">
            <input type="number" min=0 max=10 class="importance-input" :value="smallCategory.value"
              v-model="smallCategory.value">
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-end mr-2 mt-3 mb-3">
      <button @click="submitImportantce" class="btn btn-primary save-btn">저장하기</button>
    </div>
  </div>
</div>
{% endblock %}

{% block extra-script %}
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  axios.defaults.xsrfCookieName = "csrftoken";
  axios.defaults.xsrfHeaderName = "X-CSRFToken";

  var user = new Vue({
    delimiters: ["[[", "]]"],
    el: "#app",
    data: {
      categories: [],
      loadUserOnce: true,
    },
    computed: {
      averageImportance() {
        var bigCategoryAvg = [];

        for (var i in this.categories) {
          var avg = 0;
          for (var j in this.categories[i].smallCategories) {
            avg += parseInt(this.categories[i].smallCategories[j].value);
          }
          avg /= this.categories[i].smallCategories.length;
          bigCategoryAvg.push(avg.toFixed(1));
        }
        return bigCategoryAvg;
      }
    },
    methods: {
      submitImportantce() {
        console.log(this.averageImportance);
        var importance = [];
        for (var i in this.categories) {
          importance.push({
            big_category: this.categories[i].bigCategory,
            small_categories: []
          })
          for (var j in this.categories[i].smallCategories) {
            importance[i].small_categories.push([this.categories[i].smallCategories[j].name, this.categories[i].smallCategories[j].value]);
          }
        }
        console.log(importance);

        var params = {
          importance: importance
        };

        axios.put('/api/user/cosmetic/importance/', params)
          .then((res) => {
              console.log("PUT SUCESS", res)
              alert("수정 완료되었습니다")
          })
          .catch(function (err) {
              console.log("PUT FAIL", err);
              alert("오류가 발생했습니다")
          });
      }
    },
    created() {
      axios.get('/api/user/cosmetic/importance/')
        .then((res) => {
          const data = res.data;

          for (var key in data.importance) {
            var smallCategories = [];
            for (var smallKey in data.importance[key]) {
              smallCategories.push({
                name: smallKey,
                value: data.importance[key][smallKey],
              })
            }
            this.categories.push({
              bigCategory: key,
              smallCategories: smallCategories
            });
          }
        })
        .catch(function (err) {
          console.log("GET FAIL", err);
        });
    },
  });
</script>
{% endblock %}