{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block extra-style %}
<style>
    .form-invalid {
        color: red;
    }

    body {
        background-color: pink;
        background-image: url(/static/img/main.jpeg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center top;
        background-attachment: fixed;
        height: 100vh;
        /* padding-top: 90px; */
        align-items: center;
        display: flex;
    }

    .signup-content {
        background-color: white;
        box-shadow: 0 0 10px 5px pink;
        transform: scale(0.85);
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center align-content-center">
        <div class="signup-content col-10 col-md-6 col-lg-5 px-5 py-4">
            <div class="row d-flex justify-content-center">
                <h1><a href="">Beauty For Me</a></h1>
            </div>
            <div class="row d-flex justify-content-center">
                <p class="m-4">회원가입이 완료되었습니다!</p>
            </div>

            <div class="row d-flex justify-content-center">
                <input type="button" class="btn btn-outline-primary w-100 m-1" value="로그인하기"
                    onclick="location.href='{% url 'accounts:login' %}'">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra-script %}
{% endblock %}