{% extends 'base.html' %}

{% load staticfiles %}

{% block extra-style %}
<style>
    * {
        margin: 0px;
        padding: 0px;
    }

    .big-category-tab {
        font-size: 14px;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        border-bottom: 1px solid rgb(173, 106, 80);
        border-left: 1px solid rgb(173, 106, 80);
        border-right: 1px solid rgb(173, 106, 80);
    }

    .small-category-tab {
        font-size: 14px;
        height: 55px;
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        background-color: rgb(255, 248, 249);
        border-bottom: 1px solid rgb(255, 158, 174);
        /* border-left: 1px solid pink; */
        border-right: 1px solid pink;
    }

    .big-category-tab:hover {
        font-size: 15px;
        font-weight: bold;
        background-color: lightcoral;
        color: white;
    }

    .seleted-big-category {
        font-size: 15px;
        font-weight: bold;
        background-color: lightcoral;
        color: white;
    }

    .small-category-tab:hover,
    .seleted-small-category {
        font-size: 15px;
        font-weight: bold;
        background-color: rgb(255, 218, 224);
        border-right: 0px;
    }

    .big-category-wrapper {
        height: 75vh;
    }

    .small-category-wrapper {
        height: 75vh;
        overflow-y: scroll;
        -ms-overflow-style: none;
    }

    .small-category-wrapper::-webkit-scrollbar {
        display: none;
    }

    .triangle {
        position: relative;
        top: 17.5px;
        height: 15px;
        width: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid rgb(255, 218, 224);
    }

    .hide {
        display: none;
    }

    /*cosmetic part*/
    .user-cosmetic {
        height: 80px;
    }

    .gray-line {
        margin: 0px;
        padding: 0px;
        height: 1px;
        width: 100%;
        background-color: lightgray;
    }

    .black-line {
        margin: 0px;
        padding: 0px;
        height: 2px;
        width: 100%;
        background-color: lightpink;
    }

    .col-content {
        align-content: center;
    }

    .content-row {
        min-height: 50vh;
    }

    .content-brand {
        font-weight: bold;
        font-size: 14px;
        color: rgb(253, 153, 170);
    }

    .content-cosmetic {
        font-size: 14px;
    }

    .content-expiration {
        font-size: 15px;
    }

    .content-category {
        font-size: 15px;
    }

    .tag-btn {
        font-size: 11px;
        padding: 2px 6px;
        margin: 1px;
        font-weight: bold;
    }

    .cosmetic-row:hover {
        filter: grayscale(100%);
    }

    .select-row {
        opacity: 0.7;
        -webkit-box-shadow: 0 10px 10px -10px black;
        -moz-box-shadow: 0 10px 10px -10px black;
        box-shadow: 0 5px 5px -5px black;
        border-left: 1px solid gray;
    }

    .smaller-row {
        transform: scale(0.9);
        margin-right: -5%;
        border-left: 2px solid pink;
    }

    .control-bar {
        background-color: white;
        top: 0px;
        z-index: 1;
    }

    .cosmetic-control-btn {
        width: 120px;
        height: 28px;
        font-size: 13px;
        padding: 3px;
    }

    .col-title {
        font-size: 13px;
        font-weight: bold;
    }

    .cosmetic-section {
        height: 73vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .recommend-title {
        font-size: 18px;
    }

    /* transition */
    .slide-enter-active {
        -moz-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -moz-transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    .slide-leave-active {
        -moz-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

    .slide-enter-to,
    .slide-leave {
        max-height: 100px;
        overflow: hidden;
    }

    .slide-enter,
    .slide-leave-to {
        overflow: hidden;
        max-height: 0;
    }

    /* pagination */
    .pagination-wrapper {
        background-color: white;
        position: unset !important;
    }

    .pagination a.active {
        background-color: pink;
    }

    .pagination a {
        font-size: 14px;
        padding: 5px 10px;
    }
</style>
{% endblock extra-style %}

{% block navbar%}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container-fuild" id="app" style="padding: 0 80px;">
    <div class="row d-flex align-items-center" style="height:120px;">
        <h4 class="m-0">화장품을 선택하고 영상을 추천받아 보세요!</h4>
    </div>
    <div class="row" style="border:1px solid rgb(82, 82, 82);"></div>
    <div class="row position-relative">
        <div class="col-2 p-0">
            <div class="row m-0">
                <div class="col-3 p-0 big-category-wrapper">
                    <div @click="selectMyCosmetic($event)"
                        class="row big-category-tab text-center seleted-big-category">
                        내<br />화장품</div>
                    <div @click="selectInterestedCosmetic($event)" class="row big-category-tab text-center">관심<br />화장품
                    </div>
                    <div v-for="(bigCategory, index) in bigCategories" :key="bigCategory.id" v-html="bigCategory.name"
                        @click="selectBigCategory($event, bigCategory)" class="row big-category-tab text-center">
                    </div>
                </div>
                <div class="col-8 p-0 small-category-wrapper">
                    <div v-show="isInUser" class="row m-0 p-0">
                        <div @mouseover="mouseoverSmallCategory(0)" @mouseout="mouseoutSmallCategory(0)"
                            @click="selectAllCategory()" class="small-category-tab text-center seleted-small-category">
                            전체
                        </div>
                        <div class="triangle"></div>
                    </div>
                    <div v-for="(smallCategory, index) in smallCategories" :key="smallCategory.id" class="row m-0 p-0">
                        <div v-html="smallCategory.name" @mouseover="mouseoverSmallCategory(index+1)"
                            @mouseout="mouseoutSmallCategory(index + 1)"
                            @click="selectSmallCategory(index + 1, smallCategory)"
                            class="small-category-tab text-center">
                        </div>
                        <div class="triangle hide"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 p-0 cosmetic-section scrollbar-lady-lips thin square mt-1" id="cosmetic-search-result">
            <div class="container sticky-top row control-bar m-0 p-0">
                <div class="col-12 p-0">
                    <div class="row black-line"></div>

                    <div class="row gray-line"></div>
                    <div class="row mt-1 mb-1 pr-3 pl-3">
                        <div class="col-6 d-inline-flex">
                            <button @click="selectAll"
                                class="cosmetic-control-btn btn btn-outline-primary select-all-btn">모두
                                선택</button>
                            <button @click="insertToBasket"
                                class="ml-1 cosmetic-control-btn btn btn-outline-primary">담기</button>
                        </div>
                    </div>
                    <div class="row gray-line"></div>
                    <div class="row ml-0 mr-0 mt-1 mb-1">
                        <div class="col-2 col-title text-center">
                        </div>
                        <div class="col-7 col-title p-0">제품</div>
                        <div class="col-3 col-title p-0 text-center">태그</div>
                    </div>
                    <div class="row black-line"></div>
                </div>
            </div>
            <div v-for="(cosmetic, index) in displayCosmetics" :key="cosmetic.id"
                class="container p-0 mt-1 mb-1 cosmetic-container cosmetic-row">
                <div class="row m-0" @click="displayCosmeticClick($event, index, cosmetic)">
                    <div class="col-2 col-content d-flex justify-content-center align-items-center">
                        <img :src="[[cosmetic.imageLink]]" alt="" class="user-cosmetic justify-content-center">
                    </div>
                    <div class="col-7 col-content d-flex flex-column justify-content-center">
                        <div class="row content-brand">[[cosmetic.brandName]]</div>
                        <div class="row content-cosmetic">[[cosmetic.productName]] [[cosmetic.typeName]]
                        </div>
                    </div>
                    <div class="col-3 col-content d-flex flex-column justify-content-center align-items-center">
                        <div v-for="tag in cosmetic.tagNames" class="justify-content-center">
                            <button class="btn btn-outline-primary tag-btn">[[tag]]</button>
                        </div>
                    </div>
                </div>
                <div class="gray-line"></div>
            </div>
            <div v-if="isInUser == false" class="row justify-content-center pagination-wrapper">
                <div class="pagination">
                    <a href="#" @click="searchOtherPage($event, searchPages[0].num - 1)">&laquo;</a>
                    <a v-for="page in searchPages" @click="searchOtherPage($event, page.num)" :class="page.class"
                        href="#">[[page.num]]</a>
                    <a href="#" @click="searchOtherPage($event, searchPages[9].num + 1)">&raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-5 p-0 pl-3 cosmetic-section scrollbar-lady-lips thin square mt-1">
            <div class="container sticky-top row control-bar m-0 p-0">
                <div class="col-12 p-0">
                    <div class="row black-line"></div>

                    <div class="row gray-line"></div>
                    <div class="row mt-1 mb-1 pr-3 pl-3">
                        <div class="col-6 d-inline-flex">
                            <button @click="selectBasketAll"
                                class="cosmetic-control-btn btn btn-outline-primary select-basket-all-btn">모두
                                선택</button>
                            <button @click="deleteBasket"
                                class="ml-1 cosmetic-control-btn btn btn-outline-primary">삭제</button>
                        </div>
                        <div class="col-6 d-inline-flex justify-content-end">
                            <form method="POST" action="{% url 'makeup:recommend_result' %}">
                                {% csrf_token %}
                                <textarea name='selected_cosmetics' style="display:none;">[[basketCosmetics]]</textarea>
                                <input class=" ml-1 cosmetic-control-btn btn btn-outline-primary" type="submit" value="결과보기">
                            </form>
                        </div>
                    </div>
                    <div class="row gray-line"></div>
                    <div class="row ml-0 mr-0 mt-1 mb-1">
                        <div class="col-2 col-title text-center">
                        </div>
                        <div class="col-6 col-title p-0">제품</div>
                        <div class="col-3 col-title p-0 text-center">태그</div>
                        <div class="col-1 col-title p-0 text-center">유사</div>
                    </div>
                    <div class="row black-line"></div>
                </div>
            </div>
            <div v-for="(cosmetic, index) in basketCosmetics" :key="cosmetic.id"
                class="container p-0 mt-1 mb-1 cosmetic-container basket-row">
                <div class="row m-0" @click="selectBasketCosmetic($event, index, cosmetic.id)">
                    <div class="col-2 col-content d-flex justify-content-center align-items-center">
                        <img :src="[[cosmetic.imageLink]]" alt="" class="user-cosmetic justify-content-center">
                    </div>
                    <div class="col-6 col-content d-flex flex-column justify-content-center">
                        <div class="row content-brand">[[cosmetic.brandName]]</div>
                        <div class="row content-cosmetic">[[cosmetic.productName]] [[cosmetic.typeName]]
                        </div>
                    </div>
                    <div class="col-3 col-content d-flex flex-column justify-content-center align-items-center">
                        <div v-for="tag in cosmetic.tagNames" class="justify-content-center">
                            <button class="btn btn-outline-primary tag-btn">[[tag]]</button>
                        </div>
                    </div>
                    <div class="col-1 col-content d-inline-flex justify-content-center align-items-center">
                        <button class="btn btn-primary tag-btn similar-btn"
                            @click="showSilmilarCosmetic(cosmetic)">보기</button>
                    </div>
                </div>
                <div class="gray-line"></div>
                <transition name="slide">
                    <div v-if="cosmetic.showSimilar" class="smaller-row">
                        <div v-for="(similarCosmetic, similarIndex) in similarCosmetics" class="row m-0 cosmetic-row">
                            <div class="col-2 col-content d-flex justify-content-center align-items-center">
                                <img :src="[[similarCosmetic.imageLink]]" alt=""
                                    class="user-cosmetic justify-content-center">
                            </div>
                            <div class="col-6 col-content d-flex flex-column justify-content-center">
                                <div class="row content-brand">[[similarCosmetic.brandName]]</div>
                                <div class="row content-cosmetic">[[similarCosmetic.productName]]
                                    [[similarCosmetic.typeName]]
                                </div>
                            </div>
                            <div class="col-3 col-content d-flex flex-column justify-content-center align-items-center">
                                <div v-for="tag in similarCosmetic.tagNames" class="justify-content-center">
                                    <button class="btn btn-outline-primary tag-btn">[[tag]]</button>
                                </div>
                            </div>
                            <div class="col-1 col-content d-inline-flex justify-content-center align-items-center">
                                <button class="btn btn-primary tag-btn similar-btn"
                                    @click="directInsert(similarCosmetic, false, index, similarIndex)">담기</button>
                            </div>
                            <div class="gray-line"></div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

{% block extra-script %}
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';

    function cosmeticInsert(data) {
        var imageLink;

        if (data.cosmetic.product.image_link)
            imageLink = data.cosmetic.product.image_link;
        else
            imageLink = data.cosmetic.image_link;

        var tagNames = [];
        for (var tag_index in data.cosmetic.product.tag_names) {
            if (tagNames.length < 2)
                tagNames.push(data.cosmetic.product.tag_names[tag_index].tag_name);
        }
        const smallCategory = data.cosmetic.product.category.small_category.replace("-", "<br/>");

        var cosmetic = {
            id: data.cosmetic.id,
            brandName: data.cosmetic.product.brand.brand_name,
            productName: data.cosmetic.product.product_name,
            typeName: data.cosmetic.type_name,
            imageLink: imageLink,
            tagNames: tagNames,
            smallCategory: smallCategory,
            smallCategoryId: data.cosmetic.product.category.id,
            rgbValue: data.cosmetic.rgb_value,
            similarCosmetics: data.cosmetic.similar_cosmetics,
            selectedCosmetics: [],
            showSimilar: false,
            similarCosmetics: [],
        };
        return cosmetic;
    }

    var vm = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            delay: 250,
            clicks: 0,
            timer: null,
            bigCategories: [],
            smallCategories: [],
            displayCosmetics: [],
            basketCosmetics: [],
            myCosmetics: [],
            interestedCosmetics: [],
            isInUser: true,
            isMyCosmetic: true,
            selectedBigId: 0,
            selectedSmallId: 0,
            selectedSmallIndex: 0,
            allowEffectOne: false,
            selectedCosmetics: [],
            isSelectAll: false,
            selectedBasketCosmetics: [],
            isBasketSelectAll: false,
            similarCosmetics: [],
            searchPages: [],
            searchResultLength: 0,
            pageSize: 0,
        },
        computed: {
            myCategories() {
                var categoryList = []
                for (var i in this.myCosmetics) {
                    category = {
                        id: this.myCosmetics[i].smallCategoryId,
                        name: this.myCosmetics[i].smallCategory
                    }
                    var isContain = false;
                    for (var i in categoryList) {
                        if (categoryList[i].id == category.id)
                            isContain = true;
                    }
                    if (isContain == false)
                        categoryList.push(category);
                }
                return categoryList;
            },
            interestedCatrgoires() {
                var categoryList = []
                for (var i in this.interestedCosmetics) {
                    category = {
                        id: this.interestedCosmetics[i].smallCategoryId,
                        name: this.interestedCosmetics[i].smallCategory
                    }
                    var isContain = false;
                    for (var i in categoryList) {
                        if (categoryList[i].id == category.id)
                            isContain = true;
                    }
                    if (isContain == false)
                        categoryList.push(category);
                }
                return categoryList;
            },
            basketCosmeticIds() {
                var idList = [];

                for (var i in this.basketCosmetics) {
                    idList.push(this.basketCosmetics[i].id);
                }

                return idList;
            }
        },
        methods: {
            btnOn(btnElement) {
                btnElement.classList.remove("btn-outline-primary");
                btnElement.classList.add("btn-primary");
            },
            btnOff(btnElement) {
                btnElement.classList.remove("btn-primary");
                btnElement.classList.add("btn-outline-primary");
            },
            mouseoverSmallCategory(index) {
                const targetTriangle = this.$el.querySelectorAll(".triangle")[index];
                targetTriangle.classList.remove("hide");
            },
            mouseoutSmallCategory(index) {
                if (index != this.selectedSmallIndex) {
                    const targetTriangle = this.$el.querySelectorAll(".triangle")[index];
                    targetTriangle.classList.add("hide");
                }
            },
            removeBigEffect() {
                const bigCategoryRows = this.$el.querySelectorAll(".big-category-tab");
                for (var i in bigCategoryRows) {
                    if (bigCategoryRows[i].classList != undefined) {
                        bigCategoryRows[i].classList.remove("seleted-big-category");
                    }
                }
            },
            removeSmallEffect() {
                const smallCategoryRows = this.$el.querySelectorAll(".small-category-tab");
                const targetTriangle = this.$el.querySelectorAll(".triangle");
                for (var i in smallCategoryRows) {
                    if (smallCategoryRows[i].classList != undefined) {
                        smallCategoryRows[i].classList.remove("seleted-small-category");
                        targetTriangle[i].classList.add("hide");
                    }
                }
            },
            addSmallEffect(index) {
                const smallCategoryRow = this.$el.querySelectorAll(".small-category-tab")[index];
                const targetTriangle = this.$el.querySelectorAll(".triangle")[index];
                smallCategoryRow.classList.add("seleted-small-category");
                targetTriangle.classList.remove("hide");

                this.selectedSmallIndex = index;
            },
            selectMyCosmetic(event) {
                this.isInUser = true;
                this.isMyCosmetic = true;
                this.removeBigEffect();
                event.target.classList.add("seleted-big-category");
                this.smallCategories = this.myCategories;
                this.selectAllCategory();

                this.isSelectAll = true;
                this.selectAll();
            },
            selectInterestedCosmetic(event) {
                this.isInUser = true;
                this.isMyCosmetic = false;
                this.removeBigEffect();
                event.target.classList.add("seleted-big-category");
                this.smallCategories = this.interestedCatrgoires;
                this.selectAllCategory();

                this.isSelectAll = true;
                this.selectAll();
            },
            selectBigCategory(event, bigCategory) {
                var postData = {
                    params: {
                        big_category_id: bigCategory.id,
                    }
                };
                axios.get('/api/cosmetic/smallcategory/', postData)
                    .then((res) => {
                        console.log("GET SUCCESS", res);
                        const data = res.data;

                        this.smallCategories = []
                        for (var i in data) {
                            const name = data[i].small_category.replace("-", "<br/>");
                            var result = {
                                id: data[i].id,
                                name: name
                            }
                            this.smallCategories.push(result)
                        }

                        this.isInUser = false;
                        this.removeBigEffect();
                        event.target.classList.add("seleted-big-category");
                        this.selectedBigId = bigCategory.id;
                        this.selectedSmallId = 0;
                        this.addSmallEffect(1);
                        this.selectSmallCategory(1, this.smallCategories[0]);
                        this.allowEffectOne = true;
                    })
                    .catch(function (err) {
                        console.log("GET FAIL", err);
                    });

                this.isSelectAll = true;
                this.selectAll();
            },
            selectAllCategory() {
                this.removeSmallEffect();
                this.addSmallEffect(0);

                this.isSelectAll = true;
                this.selectAll();

                if (this.isInUser) {
                    if (this.isMyCosmetic) {
                        this.displayCosmetics = this.myCosmetics;
                    }
                    else {
                        this.displayCosmetics = this.interestedCosmetics;
                    }
                }
            },
            selectSmallCategory(index, smallCategory) {
                this.removeSmallEffect();
                this.addSmallEffect(index);
                this.selectedSmallId = smallCategory.id;

                if (this.isInUser) {
                    if (this.isMyCosmetic) {
                        this.displayCosmetics = this.filteringByCategories(this.myCosmetics);
                    }
                    else {
                        this.displayCosmetics = this.filteringByCategories(this.interestedCosmetics);
                    }
                }
                else {
                    var postData = {
                        params: {
                            small_category_id: smallCategory.id,
                            page_num: 1
                        }
                    };

                    axios.get('/api/cosmetic/', postData)
                        .then((res) => {
                            console.log("GET SUCCESS", res);
                            const data = res.data.cosmetics;

                            this.searchPages = [];
                            this.pageSize = res.data.cosmetics.length;
                            for (var i = 1; i <= res.data.cosmetic_size / this.pageSize + 1; i++) {
                                this.searchPages.push({
                                    num: i,
                                    class: "",
                                });
                                if (this.searchPages.length == 10)
                                    break;
                            }
                            this.searchPages[0].class = "active";
                            this.searchResultLength = res.data.cosmetic_size;

                            this.displayCosmetics = [];

                            for (var i in data) {
                                this.displayCosmetics.push(this.parsingCosmetics(data[i]));

                            }
                            return cosmetic;
                        })
                        .catch(function (err) {
                            console.log("GET FAIL", err);
                        });
                }

                this.isSelectAll = true;
                this.selectAll();
            },
            filteringByCategories(cosmetics) {
                var displayCosmetics = []
                for (var i in cosmetics) {
                    if (this.selectedSmallId == cosmetics[i].smallCategoryId) {
                        displayCosmetics.push(cosmetics[i])
                    }
                }
                return displayCosmetics;
            },
            selectCosmetic(event, arrayIndex, cosmeticId) {
                console.log(cosmeticId);

                var cosmeticRow = document.querySelectorAll(".cosmetic-row")[arrayIndex];

                for (var index in this.selectedCosmetics) {
                    if (this.selectedCosmetics[index].arrayIndex == arrayIndex) {
                        cosmeticRow.classList.remove("select-row");
                        this.selectedCosmetics.splice(index, 1);
                        this.isSelectAll = false;
                        this.btnOff(document.querySelector(".select-all-btn"));
                        return;
                    }
                }
                this.selectedCosmetics.push({
                    arrayIndex: arrayIndex,
                    cosmeticId: cosmeticId
                })
                cosmeticRow.classList.add("select-row");

                if (this.selectedCosmetics.length == this.displayCosmetics.length) {
                    this.isSelectAll = true;
                    this.btnOn(document.querySelector(".select-all-btn"));
                }
            },
            selectAll() {
                var cosmeticRows = document.querySelectorAll(".cosmetic-row");

                if (this.isSelectAll) {
                    this.selectedCosmetics = [];
                    for (var index = 0; index < cosmeticRows.length; index++) {
                        cosmeticRows[index].classList.remove("select-row");
                    }
                    this.btnOff(document.querySelector(".select-all-btn"));
                    this.isSelectAll = false;
                }
                else {
                    this.selectedCosmetics = [];
                    for (var index = 0; index < cosmeticRows.length; index++) {
                        cosmeticRows[index].classList.add("select-row");
                        this.selectedCosmetics.push({
                            arrayIndex: index,
                            cosmeticId: this.displayCosmetics[index].id
                        })
                    }
                    this.btnOn(document.querySelector(".select-all-btn"));
                    this.isSelectAll = true;
                }
            },
            displayCosmeticClick(event, arrayIndex, cosmetic) {
                this.clicks++
                if (this.clicks === 1) {
                    const self = this;
                    this.timer = setTimeout(function () {
                        self.selectCosmetic(event, arrayIndex, cosmetic.id)
                        self.clicks = 0
                    }, this.delay);
                } else {
                    clearTimeout(this.timer);
                    this.directInsert(cosmetic);
                    this.clicks = 0;
                }
            },
            insertToBasket() {
                for (var i in this.selectedCosmetics) {
                    var notIn = true;
                    for (var j in this.basketCosmetics) {
                        if (this.selectedCosmetics[i].cosmeticId == this.basketCosmetics[j].id) {
                            notIn = false;
                            break;
                        }
                    }
                    if (notIn)
                        this.basketCosmetics.push(this.displayCosmetics[this.selectedCosmetics[i].arrayIndex]);
                }
                this.isSelectAll = true;
                this.selectAll();
            },
            directInsert(cosmetic, dblclick = true, index = 0, similarIndex = 0) {
                var notIn = true;
                for (var i in this.basketCosmetics) {
                    if (cosmetic.id == this.basketCosmetics[i].id) {
                        notIn = false;
                        break;
                    }
                }
                if (notIn) {
                    if (dblclick) {
                        this.basketCosmetics.push(cosmetic);
                    }
                    else {
                        this.similarCosmetics.splice(similarIndex, 1);
                        console.log(this.similarCosmetics);
                        this.basketCosmetics.splice(index + 1, 0, cosmetic);
                    }
                }
            },
            selectBasketCosmetic(event, arrayIndex, cosmeticId) {
                if (event.target.classList.contains("similar-btn"))
                    return;

                for (var i in this.basketCosmetics) {
                    this.basketCosmetics[i].showSimilar = false;
                }

                var cosmeticRow = document.querySelectorAll(".basket-row")[arrayIndex];

                for (var index in this.selectedBasketCosmetics) {
                    if (this.selectedBasketCosmetics[index].arrayIndex == arrayIndex) {
                        cosmeticRow.classList.remove("select-row");
                        this.selectedBasketCosmetics.splice(index, 1);
                        this.isSelectBasketAll = false;
                        this.btnOff(document.querySelector(".select-basket-all-btn"));
                        return;
                    }
                }
                this.selectedBasketCosmetics.push({
                    arrayIndex: arrayIndex,
                    cosmeticId: cosmeticId
                })
                cosmeticRow.classList.add("select-row");

                if (this.selectedBasketCosmetics.length == this.basketCosmetics.length) {
                    this.isSelectBasketAll = true;
                    this.btnOn(document.querySelector(".select-basket-all-btn"));
                }
            },
            selectBasketAll() {
                for (var i in this.basketCosmetics) {
                    this.basketCosmetics[i].showSimilar = false;
                }

                var cosmeticRows = document.querySelectorAll(".basket-row");

                if (this.isSelectBasketAll) {
                    this.selectedBasketCosmetics = [];
                    for (var index = 0; index < cosmeticRows.length; index++) {
                        cosmeticRows[index].classList.remove("select-row");
                    }
                    this.btnOff(document.querySelector(".select-basket-all-btn"));
                    this.isSelectBasketAll = false;
                }
                else {
                    this.selectedBasketCosmetics = [];
                    for (var index = 0; index < cosmeticRows.length; index++) {
                        cosmeticRows[index].classList.add("select-row");
                        this.selectedBasketCosmetics.push({
                            arrayIndex: index,
                            cosmeticId: this.basketCosmetics[index].id
                        })
                    }
                    this.btnOn(document.querySelector(".select-basket-all-btn"));
                    this.isSelectBasketAll = true;
                }
            },
            deleteBasket() {
                for (var i in this.basketCosmetics) {
                    this.basketCosmetics[i].showSimilar = false;
                }
                for (var i in this.selectedBasketCosmetics) {
                    for (var j in this.basketCosmetics) {
                        if (this.selectedBasketCosmetics[i].cosmeticId == this.basketCosmetics[j].id) {
                            this.basketCosmetics.splice(j, 1);
                            break;
                        }
                    }
                }
                this.selectedMyCosmetics = [];

                this.isSelectBasketAll = true;
                this.selectBasketAll()
            },
            submitBasket() {
                console.log(this.selectedBasketCosmetics)
            },
            showSilmilarCosmetic(cosmetic) {
                for (var i in this.basketCosmetics) {
                    if (cosmetic.id != this.basketCosmetics[i].id)
                        this.basketCosmetics[i].showSimilar = false;
                }
                cosmetic.showSimilar = !cosmetic.showSimilar;

                console.log("axios 연결");
                this.similarCosmetics = [];
                for (var i in this.myCosmetics) {
                    this.similarCosmetics.push(this.myCosmetics[i]);
                }
            },
            searchOtherPage(event, pageNum) {
                window.scrollTo(0, 0);
                this.$el.querySelector("#cosmetic-search-result").scrollTo(0, 0);
                var postData = {
                    params: {
                        small_category_id: this.selectedSmallId,
                        page_num: pageNum
                    }
                };
                axios.get('/api/cosmetic/', postData)
                    .then((res) => {
                        console.log("GET SUCCESS", res);
                        const data = res.data.cosmetics;

                        this.searchPages = [];
                        for (var i = parseInt((pageNum - 1) / 10) * 10 + 1; i <= parseInt(res.data.cosmetic_size / this.pageSize) + 1; i++) {
                            this.searchPages.push({
                                num: i,
                                class: "",
                            });
                            if (this.searchPages.length == 10)
                                break;
                        }
                        this.searchPages[((pageNum % 10 - 1) + 10) % 10].class = "active";

                        this.displayCosmetics = [];

                        for (var i in data) {
                            this.displayCosmetics.push(this.parsingCosmetics(data[i]));
                        }
                        return cosmetic;
                    })
                    .catch(function (err) {
                        console.log("GET FAIL", err);
                    });
            },
            parsingCosmetics(data) {
                var imageLink;

                if (data.product.image_link)
                    imageLink = data.product.image_link;
                else
                    imageLink = data.image_link;

                var tagNames = [];
                for (var i in data.product.tag_names) {
                    if (tagNames.length < 2) {
                        tagNames.push(data.product.tag_names[i].tag_name);
                    }
                }

                var result = {
                    id: data.id,
                    brandName: data.product.brand.brand_name,
                    smallCategory: data.product.category.small_category.replace("-", "<br/>"),
                    productName: data.product.product_name,
                    typeName: data.type_name,
                    imageLink: imageLink,
                    tagNames: tagNames
                }

                return result;
            },
        },
        updated() {
            if (this.allowEffectOne) {
                this.addSmallEffect(1);
            }
            this.allowEffectOne = false;
        },
        created() {
            axios.get('/api/cosmetic/bigcategory/')
                .then((res) => {
                    console.log("GET SUCCESS", res);
                    const data = res.data;

                    this.bigCategories = []
                    for (var i in data) {
                        var result = {
                            id: data[i].id,
                            name: data[i].big_category
                        }
                        this.bigCategories.push(result)
                    }
                })
                .catch(function (err) {
                    console.log("GET FAIL", err);
                });

            axios.get('/api/user/cosmetic/')
                .then((res) => {
                    console.log("GET SUCCESS", res);
                    const data = res.data;

                    this.smallCategories = [];
                    for (var i in data) {
                        const cosmetic = cosmeticInsert(data[i]);
                        this.myCosmetics.push(cosmetic);
                        this.displayCosmetics.push(cosmetic);

                        const category = {
                            id: cosmetic.smallCategoryId,
                            name: cosmetic.smallCategory
                        }
                        var isContain = false;
                        for (var i in this.smallCategories) {
                            if (this.smallCategories[i].id == category.id)
                                isContain = true;
                        }
                        if (isContain == false)
                            this.smallCategories.push(category);
                    }
                })
                .catch(function (err) {
                    console.log("GET FAIL", err);
                });

            axios.get('/api/user/cosmetic/interested/')
                .then((res) => {
                    console.log("GET SUCCESS", res);
                    const data = res.data;

                    for (var i in data)
                        this.interestedCosmetics.push(cosmeticInsert(data[i]))
                })
                .catch(function (err) {
                    console.log("GET FAIL", err);
                });
        },
    })
</script>
{% endblock extra-script %}