{% extends 'base.html' %}

{% load staticfiles %}

{% block extra-style %}
<style>
    * {
        margin: 0px;
        padding: 0px;
    }

    /* scroll-bar */
    .scrollbar-lady-lips::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
    }

    .scrollbar-lady-lips::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    .scrollbar-lady-lips::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9a9e), color-stop(99%, #fecfef),
                to(#fecfef));
        background-image: -webkit-linear-gradient(bottom, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
        background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    }

    /*cosmetic part*/
    .user-cosmetic {
        width: 100%;
    }

    .gray-line {
        margin: 0px;
        padding: 0px;
        height: 1px;
        width: 100%;
        background-color: lightgray;
    }

    .black-line {
        margin: 0px;
        padding: 0px;
        height: 2px;
        width: 100%;
        background-color: lightpink;
    }

    .col-content {
        align-content: center;
    }

    .content-row {
        min-height: 50vh;
    }

    .content-brand {
        font-weight: bold;
        font-size: 15px;
        color: rgb(253, 153, 170);
    }

    .content-cosmetic {
        font-size: 15px;
    }

    .cosmetic-row:hover {
        filter: grayscale(100%);
    }

    .select-row {
        opacity: 0.7;
        -webkit-box-shadow: 0 10px 10px -10px black;
        -moz-box-shadow: 0 10px 10px -10px black;
        box-shadow: 0 5px 5px -5px black;
        border-left: 1px solid gray;
    }

    .control-bar {
        background-color: white;
        top: 0px;
        z-index: 1;
    }

    .cosmetic-control-btn {
        width: 120px;
        height: 28px;
        font-size: 13px;
        padding: 3px;
    }

    .col-title {
        font-size: 13px;
        font-weight: bold;
    }

    .cosmetic-section {
        margin-bottom: 8px;
    }

    .recommend-title {
        font-size: 18px;
    }

    .video-row {
        position: relative;
    }

    .video-row:hover {
        filter: grayscale(100%);
    }

    .video-detail-btn {
        position: absolute;
        right: 25px;
        bottom: 25px;
        width: 80px;
        height: 30px;
        font-size: 13px;
        padding: 5px;
    }

    .control-bar {
        background-color: white;
        position: sticky;
        top: 60px;
    }

    /* modal */
    .modal {
        position: fixed !important;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-dialog {
        position: relative;
        top: 30vh;
    }

    .modal-header {
        border-bottom: 0px !important;
    }

    .modal-header h3 {
        font-size: 20px;
        margin: 0px;
    }

    .modal-footer {
        border-top: 0px !important;
    }

    .modal-footer button {
        font-size: 15px;
    }

    .tag-btn {
        font-size: 13px;
        padding: 4px 8px;
        margin: 2px;
        font-weight: bold;
    }

    /* transition */
    .slide-enter-active {
        -moz-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -moz-transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    .slide-leave-active {
        -moz-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

    .slide-enter-to,
    .slide-leave {
        max-height: 100px;
        overflow: hidden;
    }

    .slide-enter,
    .slide-leave-to {
        overflow: hidden;
        max-height: 0;
    }

    /* thumbnail */
    .thumbnail {
        width: 100%;
    }

    .thumbnail img {
        clip-path: polygon(0 12.5%, 100% 12.5%, 100% 87.5%, 0% 87.5%);
    }

    .right-col {
        border-left: 0.5px solid lightgray;
        margin-bottom: 2px;
    }

    .pagination {
        background-color: white;
        justify-content: center;
    }

    .pagination a.active {
        background-color: pink;
    }

    .all-video-btn {
        position: absolute;
        bottom: 5px;
        right: 17px;
    }
</style>
{% endblock extra-style %}

{% block navbar%}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container-fuild" id="app" style="padding: 0 80px;">
    <div v-if="showModal" @mouseover.once="hightingBtn" class="modal d-block position-relative" tabindex="-1"
        role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>유튜버 필터</h3>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                        @click="closeModal">×</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-4 mt-2 mb-2">
                                유튜버
                            </div>
                            <div
                                class="col-8 mt-2 mb-2 col-content d-inline-block-flex justify-content-start align-items-center">
                                <span v-for="youtuber in youtubers">
                                    <button class="btn btn-outline-primary tag-btn detail-youtuber"
                                        @click="selectYoutuber($event, youtuber)">[[youtuber.name]]</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" modal-footer">
                    <button @click="submitDetail" class="btn btn-outline-dark" data-dismiss="alert"
                        aria-hidden="true">확인</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex align-items-center position-relative" style="height:120px;">
        <h5 class="m-0">뷰티 동영상 목록</h5>
        <div class="all-video-btn">
            <a v-if="showMy" href="{% url 'makeup:recommend' %}"><button class="btn btn-primary btn-sm">전체 영상
                    보기</button></a>
            <a v-else href="{% url 'makeup:recommend' %}"><button class="btn btn-primary btn-sm">스크랩 목록 보기</button></a>
            <a href="{% url 'makeup:recommend' %}"><button class="btn btn-primary btn-sm">동영상 추천 받기</button></a>
        </div>
    </div>
    <div class="row" style="border:1px solid rgb(82, 82, 82);"></div>
    <div class="row control-bar">
        <div class="col-12 p-0 cosmetic-section scrollbar-lady-lips thin square mt-1">
            <div class="row sticky-top row control-bar m-0 p-0">
                <div class="col-12 p-0">
                    <div class="row black-line"></div>
                    <div class="row gray-line"></div>
                    <div class="row mt-1 mb-1 pr-3 pl-3">
                        <div class="col-6 d-inline-flex">
                            <button @click="selectVideoAll"
                                class="cosmetic-control-btn btn btn-outline-primary select-video-all-btn">모두
                                선택</button>
                            <button v-if="showMy" @click=""
                                class=" ml-1 cosmetic-control-btn btn btn-outline-primary">스크랩 취소</button>
                            <button v-else @click=""
                                class=" ml-1 cosmetic-control-btn btn btn-outline-primary">스크랩하기</button>
                        </div>
                        <div class="col-6 d-inline-flex justify-content-end">
                            <button @click="youtuberFilter"
                                class=" ml-1 cosmetic-control-btn btn btn-outline-primary youtuber-filter-btn">유튜버
                                필터</button>
                        </div>
                    </div>
                    <div class="row gray-line"></div>
                    <div class="row ml-0 mr-0 mt-1 mb-1">
                        <div class="col-7 col-title pl-3">추천 영상</div>
                        <div class="col-5 col-title pl-3">포함 제품</div>
                    </div>
                    <div class="row black-line"></div>
                </div>
            </div>
            <div v-for="(video, index) in videos" :key="video.id"
                class="container-fluid p-0 mt-1 mb-1 cosmetic-container video-row">
                <div class="row m-0" @click="selectVideo($event, index, video.id)">
                    <div class="thumbnail col-3 col-content d-flex justify-content-center align-items-center">
                        <img :src="[[video.thumbnail]]" alt="" class="user-cosmetic justify-content-center">
                    </div>
                    <div class="col-4 col-content d-flex flex-column justify-content-center">
                        <div class="row content-brand">[[video.youtuber]]</div>
                        <div class="row content-cosmetic">[[video.title]]</div>
                        <div class="row content-cosmetic">[[video.upload_date]] / Views. [[video.hits]]
                        </div>
                        <div @click="moveToDetail(video.id)"
                            class="ml-3 btn btn-outline-primary cosmetic-control-btn video-detail-btn">
                            자세히
                        </div>
                    </div>
                    <div class="col-5 col-content d-flex flex-column justify-content-center pl-4 right-col">
                        <div v-for="cosmetic in video.cosmetics" class="row content-cosmetic">
                            <span class="content-brand mr-1">[[ cosmetic.brandName ]]</span> [[ cosmetic.productName ]]
                            [[ cosmetic.typeName ]]
                        </div>
                    </div>
                </div>
                <div class="gray-line"></div>
            </div>
            <div class="pagination">
                <a href="#" @click="searchOtherPage($event, searchPages[0].num - 1)">&laquo;</a>
                <a v-for="page in searchPages" @click="searchOtherPage($event, page.num)" :class="page.class"
                    href="#">[[page.num]]</a>
                <a href="#" @click="searchOtherPage($event, searchPages[9].num + 1)">&raquo;</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

{% block extra-script %}
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';

    function cosmeticInsert(data) {
        var imageLink;

        if (data.cosmetic.product.image_link)
            imageLink = data.cosmetic.product.image_link;
        else
            imageLink = data.cosmetic.image_link;

        var tagNames = [];
        for (var tag_index in data.cosmetic.product.tag_names)
            tagNames.push(data.cosmetic.product.tag_names[tag_index].tag_name);
        const smallCategory = data.cosmetic.product.category.small_category.replace("-", "<br/>");

        var cosmetic = {
            id: data.cosmetic.id,
            brandName: data.cosmetic.product.brand.brand_name,
            productName: data.cosmetic.product.product_name,
            typeName: data.cosmetic.type_name,
            imageLink: imageLink,
            tagNames: tagNames,
            smallCategory: smallCategory,
            smallCategoryId: data.cosmetic.product.category.id,
            rgbValue: data.cosmetic.rgb_value,
            similarCosmetics: data.cosmetic.similar_cosmetics,
            selectedCosmetics: [],
            showSimilar: false,
            similarCosmetics: [],
            showModal: false,
        };
        return cosmetic;
    }

    var vm = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            showMy: false,
            videos: [],
            selectedCosmetics: [],
            selectedVideos: [],
            isSelectAll: false,
            isSelectVideosAll: false,
            searchPages: [],
            searchResultLength: 0,
            pageSize: 10,
            showModal: false,
            youtubers: [],
            modalYoutubers: [],
            selectedYoutubers: [],
        },
        methods: {
            btnOn(btnElement) {
                btnElement.classList.remove("btn-outline-primary");
                btnElement.classList.add("btn-primary");
            },
            btnOff(btnElement) {
                btnElement.classList.remove("btn-primary");
                btnElement.classList.add("btn-outline-primary");
            },
            selectCosmetic(event, arrayIndex, cosmeticId) {
                console.log(cosmeticId);

                var cosmeticRow = document.querySelectorAll(".cosmetic-row")[arrayIndex];

                for (var index in this.selectedCosmetics) {
                    if (this.selectedCosmetics[index].arrayIndex == arrayIndex) {
                        cosmeticRow.classList.remove("select-row");
                        this.selectedCosmetics.splice(index, 1);
                        this.isSelectAll = false;
                        this.btnOff(document.querySelector(".select-all-btn"));
                        return;
                    }
                }
                this.selectedCosmetics.push({
                    arrayIndex: arrayIndex,
                    cosmeticId: cosmeticId
                })
                cosmeticRow.classList.add("select-row");

                if (this.selectedCosmetics.length == this.cosmetics.length) {
                    this.isSelectAll = true;
                    this.btnOn(document.querySelector(".select-all-btn"));
                }
            },
            selectAll() {
                var cosmeticRows = document.querySelectorAll(".cosmetic-row");

                if (this.isSelectAll) {
                    this.selectedCosmetics = [];
                    for (var index = 0; index < cosmeticRows.length; index++) {
                        cosmeticRows[index].classList.remove("select-row");
                    }
                    this.btnOff(document.querySelector(".select-all-btn"));
                    this.isSelectAll = false;
                }
                else {
                    this.selectedCosmetics = [];
                    for (var index = 0; index < cosmeticRows.length; index++) {
                        cosmeticRows[index].classList.add("select-row");
                        this.selectedCosmetics.push({
                            arrayIndex: index,
                            cosmeticId: this.cosmetics[index].id
                        })
                    }
                    this.btnOn(document.querySelector(".select-all-btn"));
                    this.isSelectAll = true;
                }
            },
            selectVideo(event, arrayIndex, videoId) {
                console.log(videoId);

                var videoRow = document.querySelectorAll(".video-row")[arrayIndex];

                for (var index in this.selectedVideos) {
                    if (this.selectedVideos[index].arrayIndex == arrayIndex) {
                        videoRow.classList.remove("select-row");
                        this.selectedVideos.splice(index, 1);
                        this.isSelectVideoAll = false;
                        this.btnOff(document.querySelector(".select-video-all-btn"));
                        return;
                    }
                }
                this.selectedVideos.push({
                    arrayIndex: arrayIndex,
                    videoId: videoId
                })
                videoRow.classList.add("select-row");

                if (this.selectedVideos.length == this.videos.length) {
                    this.isSelectVideoAll = true;
                    this.btnOn(document.querySelector(".select-video-all-btn"));
                }
            },
            selectVideoAll() {
                var videoRows = document.querySelectorAll(".video-row");

                if (this.isSelectVideoAll) {
                    this.selectedVideos = [];
                    for (var index = 0; index < videoRows.length; index++) {
                        videoRows[index].classList.remove("select-row");
                    }
                    this.btnOff(document.querySelector(".select-video-all-btn"));
                    this.isSelectVideoAll = false;
                }
                else {
                    this.selectedVideos = [];
                    for (var index = 0; index < videoRows.length; index++) {
                        videoRows[index].classList.add("select-row");
                        this.selectedVideos.push({
                            arrayIndex: index,
                            videoId: this.videos[index].id
                        })
                    }
                    this.btnOn(document.querySelector(".select-video-all-btn"));
                    this.isSelectVideoAll = true;
                }
            },
            moveToDetail(videoId) {
                window.scrollTo(0, 0);
                window.location = window.location.href + `detail/${videoId}/`;
            },
            searchOtherPage(event, pageNum) {
                var postData = {
                    params: {
                        page_num: pageNum
                    }
                };
                axios.get('/api/video/', postData)
                    .then((res) => {
                        console.log("GET SUCCESS", res);
                        window.scrollTo(0, 0);
                        this.$el.querySelector(".cosmetic-section").scrollTo(0, 0);
                        const videos = res.data.video;

                        this.videos = [];

                        for (var i in videos) {
                            this.videos.push({
                                id: videos[i].id,
                                hits: videos[i].hits,
                                thumbnail: videos[i].thumbnail,
                                youtuber: videos[i].youtuber.name,
                                upload_date: videos[i].upload_date,
                                title: videos[i].title,
                                cosmetics: videos[i].cosmetics.splice(0, 5),
                            });
                        }

                        this.searchPages = [];
                        for (var i = parseInt((pageNum - 1) / 10) * 10 + 1; i <= parseInt((res.data.video_size - 1) / this.pageSize) + 1; i++) {
                            this.searchPages.push({
                                num: i,
                                class: "",
                            });
                            if (this.searchPages.length == 10)
                                break;
                        }
                        this.searchPages[((pageNum % 10 - 1) + 10) % 10].class = "active";
                    })
                    .catch(function (err) {
                        console.log("GET FAIL", err);
                    });
            },
            hightingBtn() {
                const youtubers = document.querySelectorAll(".detail-youtuber");

                for (var i in youtubers) {
                    for (var j in this.selectedYoutubers) {
                        if (this.selectedYoutubers[j].name == youtubers[i].innerText) {
                            this.btnOn(youtubers[i]);
                        }
                    }
                }
            },
            youtuberFilter() {
                this.showModal = true;
                this.modalYoutubers = this.selectedYoutubers;
            },
            closeModal() {
                this.showModal = false;
            },
            selectYoutuber(event, youtuber) {
                if (this.modalYoutubers.includes(youtuber)) {
                    this.modalYoutubers.splice(this.modalYoutubers.indexOf(youtuber), 1);
                    this.btnOff(event.target);
                } else {
                    this.modalYoutubers.push(youtuber)
                    this.btnOn(event.target);
                }
            },
            submitDetail() {
                this.showModal = false;

                this.selectedYoutubers = this.modalYoutubers;
                const filterBtn = this.$el.querySelector(".youtuber-filter-btn");
                if (this.selectedYoutubers.length > 0) {
                    this.btnOn(filterBtn);
                }
                else {
                    this.btnOff(filterBtn);
                }

                var postData = {
                    params: {
                        page_num: 1,
                        youtuber_ids: 1
                    }
                };
                axios.get('/api/video/filter/', postData)
                    .then((res) => {
                        console.log("GET SUCCESS", res);
                        const videos = res.data.video;

                        this.videos = [];

                        for (var i in videos) {
                            this.videos.push({
                                id: videos[i].id,
                                hits: videos[i].hits,
                                thumbnail: videos[i].thumbnail,
                                youtuber: videos[i].youtuber.name,
                                upload_date: videos[i].upload_date,
                                title: videos[i].title,
                                cosmetics: videos[i].cosmetics.splice(0, 5),
                            });
                        }

                        this.searchPages = [];
                        for (var i = 1; i <= parseInt((res.data.video_size - 1) / this.pageSize) + 1; i++) {
                            this.searchPages.push({
                                num: i,
                                class: "",
                            });
                            if (this.searchPages.length == 10)
                                break;
                        }
                        this.searchPages[0].class = "active";

                        this.youtubers = res.data.youtuber_list;
                    })
                    .catch(function (err) {
                        console.log("GET FAIL", err);
                    });

            },
        },
        created() {
            var postData = {
                params: {
                    page_num: 1
                }
            };
            axios.get('/api/video/', postData)
                .then((res) => {
                    console.log("GET SUCCESS", res);
                    const videos = res.data.video;

                    this.videos = [];

                    for (var i in videos) {
                        this.videos.push({
                            id: videos[i].id,
                            hits: videos[i].hits,
                            thumbnail: videos[i].thumbnail,
                            youtuber: videos[i].youtuber.name,
                            upload_date: videos[i].upload_date,
                            title: videos[i].title,
                            cosmetics: videos[i].cosmetics.splice(0, 5),
                        });
                    }

                    this.searchPages = [];
                    for (var i = 1; i <= parseInt((res.data.video_size - 1) / this.pageSize) + 1; i++) {
                        this.searchPages.push({
                            num: i,
                            class: "",
                        });
                        if (this.searchPages.length == 10)
                            break;
                    }
                    this.searchPages[0].class = "active";

                    this.youtubers = res.data.youtuber_list;
                })
                .catch(function (err) {
                    console.log("GET FAIL", err);
                });
        },
    })
</script>
{% endblock extra-script %}