{% extends 'base.html' %}
<!-- {% load rest_framework %} -->
{% load staticfiles %}

{% block extra-style %}
<style>
    body {
        height: 98%;
    }

    .container-fluid * {
        margin: 0px;
        padding: 0px;
    }

    .search-wrapper {
        width: 100%;
        padding: 0 3%;
    }

    .search-input {
        width: 98%;
        margin-right: 4px;
    }

    .search-btn {
        width: 100px;
        height: 100%;
        border-radius: 2px;
        padding: 7px;
    }

    .img-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-wrapper img {
        width: 300px;
    }

    .section-wrapper {
        width: 90%;
        padding: 5px;
        border: 1px solid pink;
        border-radius: 2px;
    }

    .section-title {
        width: 200px;
        text-align: center;
        border-right: 1px solid lightgray;
    }

    .date-form {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .form-in-box {
        width: 72%;
        border: 0;
    }

    .register-form {
        margin-right: 5%;
    }

    .search-result-window {
        position: absolute;
        top: 50px;
        margin-left: 3%;
        background-color: white;
        border: 1px solid pink;
        z-index: 1000;
        width: 94%;
    }

    .search-img {
        width: 100px;
        padding: 5px;
    }

    .search-result-title {
        width: 100px;
        font-size: 13px;
    }

    .search-result-item {
        font-size: 13px;
        font-weight: bold;
    }

    .kind-tap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        border: 1px solid pink;
        border-radius: 5px 5px 0px 0px;
    }

    .selected-kind-tap {
        border-bottom: 1px solid white;
        font-weight: bold;
    }

    .rest-space {
        border-bottom: 1px solid pink;
    }

    .kind-row {
        height: 80vh;
        border: 1px solid pink;
        border-radius: 0px 0px 5px 5px;
        border-top: 0px;
        overflow-y: scroll;
    }

    .main-row {
        max-height: 100vh;
    }

    .left-col {
        height: 80vh;
        overflow-y: scroll;
    }

    .right-col {
        float: left;
        overflow-y: scroll;
    }

    .user-cosmetic-img {
        width: 80px;
        padding: 5px;
    }

    .user-cosmetic-item {
        font-size: 14px;
        font-weight: bold;
    }

    .tag-btn {
        font-size: 12px;
        padding: 1px 6px;
        margin: 2px;
        font-weight: bold;
    }

    .gray-line {
        margin: 0px;
        padding: 0px;
        height: 1px;
        width: 100%;
        background-color: lightgray;
    }

    .cosmetic-container {
        margin: 0 3%;
        width: 94%;
        height: 80vh;
        overflow-y: scroll;
    }

    /* transition */
    .slide-enter-active {
        -moz-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -moz-transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    .slide-leave-active {
        -moz-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

    .slide-enter-to,
    .slide-leave {
        max-height: 100px;
        overflow: hidden;
    }

    .slide-enter,
    .slide-leave-to {
        overflow: hidden;
        max-height: 0;
    }
</style>
{% endblock extra-style %}

{% block navbar%}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid" id="app">
    <div class="row main-row">
        <div class="col-8 mt-5 mb-5 pt-1">
            <div class="search-wrapper d-flex justify-content-center align-items-center">
                <input @keyup="searchCosmetic($event, true)" v-model="queryCosmetic" placeholder="화장품의 제품명을 검색해주세요"
                    class="form-control search-input pl-2" />
                <button @click="searchCosmetic($event, false)" class="search-btn btn btn-primary">검색</button>
            </div>
            <transition name="slide">
                <div v-if="searching" class="search-result-window">
                    <div v-for="searchResult in searchResults" :key="searchResult.id"
                        @click="selectCosmetic(searchResult)">
                        <div class="d-flex align-items-center">
                            <img :src="[[ searchResult.imageLink ]]" alt="{% static 'img/main.jpeg' %}"
                                class="search-img">
                            <div class="search-result-wrapper">
                                <div class="search-result-info d-flex align-items-center mb-1">
                                    <div class="search-result-title">브랜드</div>
                                    <div class="search-result-item">[[ searchResult.brandName ]]</div>
                                </div>
                                <div class="search-result-info d-flex align-items-center mb-1">
                                    <div class="search-result-title">제품명</div>
                                    <div class="search-result-item">[[ searchResult.productName ]]</div>
                                </div>
                                <div class="search-result-info d-flex align-items-center">
                                    <div class="search-result-title">색상/타입</div>
                                    <div class="search-result-item">[[ searchResult.typeName ]]</div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </transition>
            <div v-if="fullSearch" class="cosmetic-container">
                <h5 class="mt-5 mb-3 text-center">[[ staticResults.length ]]개의 검색결과</h5>
                <div class="gray-line"></div>
                <div v-for="cosmetic in staticResults" :key="cosmetic.id" @click="selectCosmetic(cosmetic)"
                    class=" container p-0 mt-1 mb-1">
                    <div class="row">
                        <div class="col-3 col-content text-center">
                            <img :src="[[cosmetic.imageLink]]" alt="" class="user-cosmetic justify-content-center"
                                width=100>
                        </div>
                        <div class="col-4 col-content d-flex flex-column justify-content-center">
                            <div class="row search-result-item">[[cosmetic.brandName]]</div>
                            <div class="row search-result-item">[[cosmetic.productName]] [[cosmetic.typeName]]
                            </div>
                        </div>
                        <div class="col-3 col-content d-flex flex-column justify-content-center">
                            <div class="row justify-content-center content-category">[[cosmetic.smallCategory]]
                            </div>
                        </div>
                        <div class="col-2 col-content d-inline-flex justify-content-center align-items-center">
                            <span v-for="tag in cosmetic.tagNames" class="justify-content-center">
                                <button class="btn btn-outline-primary tag-btn">[[tag]]</button>
                            </span>
                        </div>
                    </div>
                    <div class="gray-line"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#">1</a>
                        <a class="active" href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">&raquo;</a>
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="container-fluid left-col">
                    <div class="row mt-4">
                        <div class="col-6 d-flex justify-content-center align-items-center">
                            <label class="mr-1">내 화장품 등록</label>
                            <input type="radio" id="my_cosmetic" value="myCosmetic" v-model="kindSelect"
                                class="kind-select" />
                        </div>
                        <div class="col-6 d-flex justify-content-center align-items-center">
                            <label class="mr-1">관심 화장품 등록</label>
                            <input type="radio" id="interestedCosmetic" value="interestedCosmetic" v-model="kindSelect"
                                class="kind-select" />
                        </div>
                    </div>
                    <div v-if="cosmeticID" class="row mt-4">
                        <div class="img-wrapper">
                            <img :src="[[ imageLink ]]" alt="화장품의 제품명을 검색해주세요" class="text-center">
                        </div>
                    </div>
                    <div class=" row mt-4 justify-content-center">
                        <div class="section-wrapper d-flex align-items-center">
                            <div class="section-title">제품명</div>
                            <div class="section-value ml-2">[[ productName ]]</div>
                        </div>
                    </div>
                    <div class="row mt-3 justify-content-center">
                        <div class="section-wrapper d-flex align-items-center">
                            <div class="section-title">브랜드</div>
                            <div class="section-value ml-2">[[ brandName ]]</div>
                        </div>
                    </div>
                    <div class="row mt-3 justify-content-center">
                        <div class="section-wrapper d-flex align-items-center">
                            <div class="section-title">색상/타입</div>
                            <div class="section-value ml-2">[[ typeName ]]</div>
                        </div>
                    </div>
                    <div class="row mt-3 justify-content-center">
                        <div class="section-wrapper d-flex align-items-center">
                            <div class="section-title">카테고리</div>
                            <div class="section-value ml-2">[[ categoryName ]]</div>
                        </div>
                    </div>
                    <div class="row mt-3 justify-content-center">
                        <div class="section-wrapper d-flex align-items-center">
                            <div class="section-title">태그</div>
                            <div class="section-value ml-2">[[ tagList ]]</div>
                        </div>
                    </div>

                    <div v-if="kindSelect == 'myCosmetic'">
                        <div class="row mt-5 d-flex justify-content-between align-items-center">
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <label class="mr-1">유통기한</label>
                                <input @click="changeDateSelect" type="radio" id="expiration" value="expiration"
                                    v-model="dateSelect" class="kind-select" />
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <label class="mr-1">사용기한</label>
                                <input @click="changeDateSelect" type="radio" id="useBy" value="useBy"
                                    v-model="dateSelect" class="kind-select" />
                            </div>
                        </div>
                        <div v-if="dateSelect == 'expiration'" class="row mt-3 justify-content-center">
                            <div class="section-wrapper d-flex align-items-center">
                                <div class="section-title">유통기한</div>
                                <input type="text" placeholder="YYYY-MM-DD" v-model="expirationDate"
                                    onfocus="(this.type='date')"
                                    class="form-in-box date-form form-control pl-2 pr-2 ml-2">
                            </div>
                        </div>
                        <div v-else class="row mt-3 justify-content-center">
                            <div class="section-wrapper d-flex align-items-center">
                                <div class="section-title">사용기한</div>
                                <input type="number" v-model="monthValue"
                                    class="form-in-box form-control pl-2 pr-2 ml-2"
                                    placeholder="화장품의 사용기한을 개월 수로 입력해주세요.">
                            </div>
                            <div class="section-wrapper d-flex align-items-center mt-3">
                                <div class="section-title">개봉일자</div>
                                <input type="text" placeholder="YYYY-MM-DD" v-model="useByDate"
                                    onfocus="(this.type='date')"
                                    class="form-in-box date-form form-control pl-2 pr-2 ml-2">
                            </div>
                        </div>
                        <div class="row mt-3 d-flex justify-content-center align-items-center">
                            <div class="section-wrapper d-flex align-items-center">
                                <div class="section-title">알람 주기</div>
                                <select v-model="alarmPeriod" class="form-in-box form-control pl-2 pr-2 ml-2">
                                    <option disabled value="">알람 주기를 선택해주세요</option>
                                    <option value="0">알람 없음</option>
                                    <option value="7">일주일 전 알람</option>
                                    <option value="30">1달 전 알람</option>
                                    <option value="60">2달 전 알람</option>
                                    <option value="90">3달 전 알람</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end register-form mt-3 pb-3">
                        <button @click="submitCosmetic" class="btn btn-primary p-2 pr-4 pl-4">등록하기</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5 mb-5 pt-1 pl-2 right-row">
            <div class="row">
                <div @click="showMyCosmetic()" class="col-4 my-cosmetic-tap kind-tap selected-kind-tap">
                    내 화장품
                </div>
                <div @click="showInterestedCosmetic()" class="col-4 interested-cosmetic-tap kind-tap">
                    관심 화장품
                </div>
                <div class="col-4 rest-space"></div>
            </div>

            <div class="row kind-row">
                <div v-if="cosmeticListView" class="w-100 p-1">
                    <div v-for="cosmetic in myCosmetics" :key="cosmetic.id">
                        <div class="d-flex align-items-center">
                            <img :src="[[ cosmetic.imageLink ]]" alt="{% static 'img/main.jpeg' %}"
                                class="user-cosmetic-img">
                            <div class="search-result-wrapper">
                                <div class="search-result-info d-flex flex-column justify-content-center mb-1">
                                    <div class="user-cosmetic-item">[[ cosmetic.brandName ]] [[
                                        cosmetic.productName ]] [[ cosmetic.typeName ]]</div>
                                    <div>
                                        <span v-for="tag in cosmetic.tagNames" class="justify-content-center">
                                            <button class="btn btn-outline-primary tag-btn">[[tag]]</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
                <div v-else class="w-100 p-1">
                    <div v-for="cosmetic in interestedCosmetics" :key="cosmetic.id">
                        <div class="d-flex align-items-center">
                            <img :src="[[ cosmetic.imageLink ]]" alt="{% static 'img/main.jpeg' %}"
                                class="user-cosmetic-img">
                            <div class="search-result-wrapper">
                                <div class="search-result-info d-flex flex-column justify-content-center mb-1">
                                    <div class="user-cosmetic-item">[[ cosmetic.brandName ]] [[
                                        cosmetic.productName ]] [[ cosmetic.typeName ]]</div>
                                    <div>
                                        <span v-for="tag in cosmetic.tagNames" class="justify-content-center">
                                            <button class="btn btn-outline-primary tag-btn">[[tag]]</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

{% block extra-script %}
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';

    var register = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data() {
            return {
                queryCosmetic: "",
                searching: false,
                fullSearch: false,
                cosmeticID: "",
                productName: "",
                brandName: "",
                categoryName: "",
                typeName: "",
                tags: [],
                imageLink: "",
                expirationDate: "",
                useByDate: "",
                monthValue: "",
                alarmPeriod: "",
                dateSelect: "expiration",
                kindSelect: "myCosmetic",
                searchResults: [],
                staticResults: [],
                myCosmetics: [],
                interestedCosmetics: [],
                cosmeticListView: true
            }
        },
        computed: {
            tagList() {
                return this.tags.join(", ");
            },
            isConsentAlarm() {
                if (this.alarmPeriod > 0)
                    return true;
                else
                    return false;
            },
            expirationData() {
                if (this.dateSelect == "expiration")
                    return this.expirationDate
                else {
                    var year, month;
                    const [splitedYear, splitedMonth, splitedDay] = this.useByDate.split('-').map(item => parseInt(item));

                    month = parseInt((parseInt(this.monthValue) + splitedMonth - 1) % 12) + 1;
                    year = parseInt((parseInt(this.monthValue) + splitedMonth) / 12) + splitedYear;

                    const resultDate = `${year}-${month}-${splitedDay}`;
                    console.log(resultDate);
                    return resultDate;
                }
            },
            alarmCycle() {
                return parseInt(this.alarmPeriod);
            },
        },
        methods: {
            selectCosmetic(searchResult) {
                console.log(searchResult)
                this.cosmeticID = searchResult.id;
                this.productName = searchResult.productName;
                this.brandName = searchResult.brandName;
                this.categoryName = searchResult.smallCategory;
                this.tags = searchResult.tagNames;
                this.imageLink = searchResult.imageLink;
                this.typeName = searchResult.typeName;
                this.queryCosmetic = "";
                this.searching = false;
                this.fullSearch = false;
            },
            showMyCosmetic() {
                this.$el.querySelector(".my-cosmetic-tap").classList.add("selected-kind-tap");
                this.$el.querySelector(".interested-cosmetic-tap").classList.remove("selected-kind-tap");
                this.cosmeticListView = true;
            },
            showInterestedCosmetic() {
                this.$el.querySelector(".my-cosmetic-tap").classList.remove("selected-kind-tap");
                this.$el.querySelector(".interested-cosmetic-tap").classList.add("selected-kind-tap");
                this.cosmeticListView = false;
            },
            changeDateSelect() {
                this.expirationDate = ""
                this.useByDate = ""
                this.alarmPeriod = ""
            },
            submitCosmetic() {
                if (this.kindSelect == "myCosmetic") {
                    if (this.cosmeticID && this.expirationData && this.alarmCycle >= 0) {
                        console.log("폼 진행");

                        var postData = {
                            cosmetic_id: this.cosmeticID,
                            expiration_data: this.expirationData,
                            alarm_cycle: this.alarmCycle,
                            is_consent_alarm: this.isConsentAlarm
                        };

                        console.log(postData);
                        axios.post('/api/user/cosmetic/', postData)
                            .then((res) => {
                                console.log("GET SUCCESS", res);
                                const data = res.data[0];

                                var imageLink;

                                if (data.cosmetic.product.image_link)
                                    imageLink = data.cosmetic.product.image_link;
                                else
                                    imageLink = data.cosmetic.image_link;

                                var tagNames = [];
                                for (var i in data.cosmetic.product.tag_names) {
                                    if (data.cosmetic.product.tag_names[i].tag_name != undefined) {
                                        tagNames.push(data.cosmetic.product.tag_names[i].tag_name);
                                    }
                                }

                                cosmetic = {
                                    id: data.cosmetic.id,
                                    brandName: data.cosmetic.product.brand.brand_name,
                                    productName: data.cosmetic.product.product_name,
                                    typeName: data.cosmetic.type_name,
                                    imageLink: imageLink,
                                    tagNames: tagNames
                                };

                                if (cosmetic != undefined) {
                                    this.myCosmetics.push(cosmetic)
                                }

                                this.expirationDate = "";
                                this.useByDate = "";
                                this.monthValue = "";
                                this.alarmPeriod = "";
                                alert("화장품이 등록되었습니다.")
                            })
                            .catch(function (err) {
                                console.log("GET FAIL", err);
                            });
                    }
                    else {
                        event.preventDefault()
                        console.log("입력사항을 확인해주세요");
                    }
                }
                else {
                    if (this.cosmeticID) {
                        console.log("폼 진행");

                        var postData = {
                            cosmetic_id: this.cosmeticID,
                        };

                        console.log(postData);

                        axios.post('/api/user/cosmetic/interested/', postData)
                            .then((res) => {
                                console.log("GET SUCCESS", res);

                                const data = res.data[0];

                                var imageLink;

                                if (data.cosmetic.product.image_link)
                                    imageLink = data.cosmetic.product.image_link;
                                else
                                    imageLink = data.cosmetic.image_link;

                                var tagNames = [];
                                for (var i in data.cosmetic.product.tag_names) {
                                    if (data.cosmetic.product.tag_names[i].tag_name != undefined) {
                                        tagNames.push(data.cosmetic.product.tag_names[i].tag_name);
                                    }
                                }

                                cosmetic = {
                                    id: data.cosmetic.id,
                                    brandName: data.cosmetic.product.brand.brand_name,
                                    productName: data.cosmetic.product.product_name,
                                    typeName: data.cosmetic.type_name,
                                    imageLink: imageLink,
                                    tagNames: tagNames
                                };

                                if (cosmetic != undefined) {
                                    this.interestedCosmetics.push(cosmetic)
                                }

                                this.expirationDate = "";
                                this.useByDate = "";
                                this.monthValue = "";
                                this.alarmPeriod = "";
                                alert("화장품이 등록되었습니다.")
                            })
                            .catch(function (err) {
                                console.log("GET FAIL", err);
                            });
                    }
                    else {
                        event.preventDefault()
                        console.log("입력사항을 확인해주세요");
                    }
                }
            },
            searchCosmetic(event, isKey) {
                if (this.queryCosmetic == "" || event.keyCode == 27) {
                    this.searching = false;
                    return;
                }

                if (event.key == "Enter" || isKey == false) {
                    this.searching = false
                    this.fullSearch = true;
                    this.staticResults = [];
                }
                else {
                    this.searching = true;
                }

                if (this.searching) {
                    var postData = {
                        params: {
                            query_cosmetic: this.queryCosmetic,
                            is_keyuped: true,
                            is_clicked: false
                        }
                    };
                }
                else {
                    var postData = {
                        params: {
                            query_cosmetic: this.queryCosmetic,
                            is_keyuped: false,
                            is_clicked: true
                        }
                    };
                }
                console.log(this.searching)
                axios.get('/api/cosmetic/', postData)
                    .then((res) => {
                        console.log("GET SUCCESS", res);
                        this.searchResults = [];
                        if (this.searching == false)
                            this.staticResults = [];

                        for (var i in res.data) {
                            const data = res.data[i];
                            var imageLink;

                            if (data.product.image_link)
                                imageLink = data.product.image_link;
                            else
                                imageLink = data.image_link;

                            var tagNames = [];
                            for (var i in data.product.tag_names)
                                tagNames.push(data.product.tag_names[i].tag_name);

                            var result = {
                                id: data.id,
                                brandName: data.product.brand.brand_name,
                                smallCategory: data.product.category.small_category,
                                productName: data.product.product_name,
                                typeName: data.type_name,
                                imageLink: imageLink,
                                tagNames: tagNames
                            }

                            if (this.searching)
                                this.searchResults.push(result);
                            else
                                this.staticResults.push(result);
                        }
                    })
                    .catch((err) => {
                        console.log("GET FAIL", err);
                    });
            },
        },
        created() {
            function cosmeticInsert(data) {
                var imageLink;

                if (data.cosmetic.product.image_link)
                    imageLink = data.cosmetic.product.image_link;
                else
                    imageLink = data.cosmetic.image_link;

                var tagNames = [];
                for (var index in data.cosmetic.product.tag_names)
                    tagNames.push(data.cosmetic.product.tag_names[index].tag_name);

                var cosmetic = {
                    id: data.cosmetic.id,
                    brandName: data.cosmetic.product.brand.brand_name,
                    productName: data.cosmetic.product.product_name,
                    typeName: data.cosmetic.type_name,
                    imageLink: imageLink,
                    tagNames: tagNames
                };
                return cosmetic;
            }

            axios.get('/api/user/cosmetic/')
                .then((res) => {
                    console.log("GET SUCCESS", res);
                    const data = res.data;

                    for (var i in data)
                        this.myCosmetics.push(cosmeticInsert(data[i]))
                })
                .catch(function (err) {
                    console.log("GET FAIL", err);
                });

            axios.get('/api/user/cosmetic/interested')
                .then((res) => {
                    console.log("GET SUCCESS", res);
                    const data = res.data;

                    for (var i in data)
                        this.interestedCosmetics.push(cosmeticInsert(data[i]))
                })
                .catch(function (err) {
                    console.log("GET FAIL", err);
                });
        }
    })
</script>
{% endblock extra-script %}