{% extends 'base.html' %}

{% load staticfiles %}

{% block extra-style %}
<style>
    .user-cosmetic {
        width: 40%;
    }

    .cosmetic-checkbox {
        position: relative;
        left: -15px;
    }

    .control-bar {
        background-color: white;
        position: sticky;
        top: 60px;
    }

    .page-title {
        margin: 50px 0px;
        font-weight: bold;
        font-size: 24px;
    }

    .cosmetic-control-btn {
        width: 120px;
        height: 28px;
        font-size: 13px;
        padding: 3px;
    }

    .gray-line {
        margin: 0px;
        padding: 0px;
        height: 1px;
        width: 100%;
        background-color: lightgray;
    }

    .black-line {
        margin: 0px;
        padding: 0px;
        height: 2px;
        width: 100%;
        background-color: lightpink;
    }

    .col-title {
        font-size: 13px;
        font-weight: bold;
    }

    .col-content {
        align-content: center;
    }

    .content-row {
        min-height: 50vh;
    }

    .empty-msg {
        position: relative;
        top: 23vh;
        text-align: center;
    }

    .content-brand {
        font-weight: bold;
        font-size: 14px;
        color: rgb(253, 153, 170);
    }

    .content-cosmetic {
        font-size: 15px;
    }

    .content-expiration {
        font-size: 15px;
    }

    .content-category {
        font-size: 15px;
    }

    .tag-btn {
        font-size: 13px;
        padding: 4px 8px;
        margin: 2px;
        font-weight: bold;
    }

    .no-rest {
        color: darkred;
        font-size: 14px;
        font-weight: bold;
    }

    .d-day {
        color: darkgreen;
    }

    .select-row {
        opacity: 0.7;
        -webkit-box-shadow: 0 10px 10px -10px black;
        -moz-box-shadow: 0 10px 10px -10px black;
        box-shadow: 0 5px 5px -5px black;
        border-left: 1px solid gray;
    }

    .alarm-select {
        margin-top: 5px;
        border: 1px solid pink;
        border-radius: 8px;
        width: 60px;
        font-size: 10px;
    }


    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 17px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: lightpink;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px lightpink;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
    }

    label {
        margin: 0px;
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 17px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    /* modal */
    .modal {
        position: fixed !important;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-dialog {
        position: relative;
        top: 30vh;
    }

    .modal-header {
        border-bottom: 0px !important;
    }

    .modal-header h3 {
        font-size: 20px;
        margin: 0px;
    }

    .modal-footer {
        border-top: 0px !important;
    }

    .modal-footer button {
        font-size: 15px;
    }

    /* message-slider */
    .message-slider {
        height: 35px;
        width: 28vw;
        position: fixed;
        top: 62px;
        left: 36vw;
        background-color: white;
        border: 1px solid white;
        border-radius: 5px;
        z-index: 10000;
    }

    .message-body {
        height: 100%;
        width: 100%;
        padding: 1px;
        border: 1px solid pink;
        border-radius: 5px;
        font-size: 15px;
    }

    /* transition */
    .slide-enter-active {
        -moz-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -moz-transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    .slide-leave-active {
        -moz-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

    .slide-enter-to,
    .slide-leave {
        max-height: 100px;
        overflow: hidden;
    }

    .slide-enter,
    .slide-leave-to {
        overflow: hidden;
        max-height: 0;
    }
</style>
{% endblock extra-style %}

{% block navbar%}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container" id="app">
    <transition name="slide">
        <div v-show="showMessage" class="message-slider">
            <div v-html="message" class="message-body d-flex align-items-center justify-content-center"></div>
        </div>
    </transition>
    <div v-if="showModal" @mouseover.once="hightingBtn" class="modal d-block position-relative" tabindex="-1"
        role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>상세 검색</h3>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                        @click="closeModal">×</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-4 mt-2 mb-2">
                                브랜드
                            </div>
                            <div
                                class="col-8 mt-2 mb-2 col-content d-inline-block-flex justify-content-start align-items-center">
                                <span v-for="brand in brands">
                                    <button class="btn btn-outline-primary tag-btn detail-brand"
                                        @click="selectBrand($event, brand)">[[brand]]</button>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 mt-2 mb-2">
                                카테고리
                            </div>
                            <div
                                class="col-8  mt-2 mb-2 col-content d-inline-block-flex justify-content-start align-items-center">
                                <span v-for="category in categories">
                                    <button v-html="category" class="btn btn-outline-primary tag-btn detail-category"
                                        @click="selectCategory($event, category)"></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" modal-footer">
                    <button @click="submitDetail()" class="btn btn-outline-dark" data-dismiss="alert"
                        aria-hidden="true">확인</button>
                </div>
            </div>
        </div>
    </div>
    <div v-if="showDeleteModal" @mouseover.once="hightingBtn" class="modal d-block position-relative" tabindex="-1"
        role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>정말 삭제하시겠습니까?</h3>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                        @click="closeDeleteModal">×</button>
                </div>
                <div class="modal-footer">
                    <button @click="deleteCosmetic" class="btn btn-outline-dark" data-dismiss="alert"
                        aria-hidden="true">삭제하기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row page-title justify-content-center">
        <h3 class="text-center m-0">{{user.last_name}}님의 화장품</h3>
    </div>
    <div class="row sticky-top control-bar">
        <div class="col-12 p-0">
            <div class="row black-line"></div>
            <div class="row mt-1 mb-1 pr-3 pl-3">
                <div class="col-12 d-flex justify-content-between">
                    <button class="cosmetic-control-btn btn btn-outline-primary"
                        @click="location.href='{% url 'cosmetic:register' %}'">화장품 등록하기</button>
                    <button class="cosmetic-control-btn btn btn-outline-primary detail-search-btn"
                        @click="detailSearch">상세 검색</button>
                </div>
            </div>
            <div class="row gray-line"></div>
            <div class="row mt-1 mb-1 pr-3 pl-3">
                <div class="col-6">
                    <button @click="selectAll" class="cosmetic-control-btn btn btn-outline-primary select-all-btn">모두
                        선택</button>
                    <button @click="confirmDelete" class="cosmetic-control-btn btn btn-outline-primary">삭제</button>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <button @click="changeToMy" class="my-cosmetic-btn cosmetic-control-btn btn btn-primary">내
                        화장품</button>
                    <button @click="changeToInterested"
                        class="interested-cosmetic-btn cosmetic-control-btn btn btn-outline-primary ml-1">관심
                        화장품</button>
                </div>
            </div>
            <div class="row gray-line"></div>
            <div v-if="showMyCosmetic" class="row mt-1 mb-1">
                <div class="col-2 col-title text-center">내 화장품</div>
                <div class="col-4 col-title">제품</div>
                <div class="col-1 col-title text-center">카테고리</div>
                <div class="col-2 col-title text-center">태그</div>
                <div class="col-2 col-title text-center">관리상태</div>
                <div class="col-1 col-title text-center">알람</div>
            </div>
            <div v-else class="row mt-1 mb-1">
                <div class="col-2 col-title text-center">관심 화장품</div>
                <div class="col-6 col-title">제품</div>
                <div class="col-1 col-title text-center">카테고리</div>
                <div class="col-1 col-title text-center"></div>
                <div class="col-2 col-title text-center">태그</div>
            </div>
            <div class="row black-line"></div>
        </div>
    </div>
    <div v-show="showMyCosmetic" class="row content-row">
        <div class="col-12 p-0">
            <div v-if="displayMyCosmetics.length == 0" class="empty-msg">
                표시할 화장품이 없습니다.
            </div>
            <div v-for="(cosmetic, index) in displayMyCosmetics" :key="cosmetic.id"
                class=" container p-0 mt-1 mb-1 cosmetic-container myCosmetic-row">
                <div class="row" @click="selectCosmetic($event, 'my', index, cosmetic.id)">
                    <div class="col-2 col-content text-center">
                        <img :src="[[cosmetic.imageLink]]" alt="" class="user-cosmetic justify-content-center">
                    </div>
                    <div class="col-4 col-content d-flex flex-column justify-content-center">
                        <div class="row content-brand">[[cosmetic.brandName]]</div>
                        <div class="row content-cosmetic">[[cosmetic.productName]] [[cosmetic.typeName]]
                        </div>
                    </div>
                    <div class="col-1 col-content d-flex flex-column justify-content-center">
                        <div v-html="cosmetic.smallCategory"
                            class="row justify-content-center content-category text-center">
                        </div>
                    </div>
                    <div class="col-2 col-content d-inline-flex justify-content-center align-items-center">
                        <span v-for="tag in cosmetic.tagNames" class="justify-content-center">
                            <button class="btn btn-outline-primary tag-btn">[[tag]]</button>
                        </span>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center">
                        <div class="row justify-content-center content-expiration">
                            [[cosmetic.expirationDate]]</div>
                        <div v-if="cosmetic.restDay > 0" class="row justify-content-center rest-day">
                            <span class="d-day">D-[[cosmetic.restDay]]일</span>
                        </div>
                        <div v-else class="row justify-content-center no-rest">[[cosmetic.absRestDay]]일
                            지났습니다!</div>
                    </div>
                    <div class="col-1 col-content d-flex flex-column justify-content-center">
                        <div class="row justify-content-center">
                            <label class="switch d-flex align-items-center">
                                <input type="checkbox" @click="alarmToggle($event, cosmetic)" class="switch-alarm"
                                    value="off">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="row justify-content-center">
                            <select v-model="cosmetic.alarmCycle" @change="selectAlarmCycle($event, cosmetic)"
                                class="alarm-select text-center" style="text-align-last:center;">
                                <option value="0">알람 없음</option>
                                <option value="7">일주일 전</option>
                                <option value="15">보름 전</option>
                                <option value="30">1달 전</option>
                                <option value="60">2달 전</option>
                                <option value="90">3달 전</option>
                                <option value="180">6달 전</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="gray-line"></div>
            </div>
        </div>
    </div>

    <div v-show="showMyCosmetic == false" class="row content-row">
        <div class="col-12 p-0">
            <div v-if="displayInterestedCosmetics.length == 0" class="empty-msg">
                표시할 화장품이 없습니다.
            </div>
            <div v-for="(cosmetic, index) in displayInterestedCosmetics" :key="cosmetic.id"
                class="container p-0 mt-1 mb-1 cosmetic-container interestedCosmetic-row">
                <div class="row" @click="selectCosmetic($event, 'interested', index, cosmetic.id)">
                    <div class="col-2 col-content text-center">
                        <img :src="[[cosmetic.imageLink]]" alt="" class="user-cosmetic justify-content-center">
                    </div>
                    <div class="col-6 col-content d-flex flex-column justify-content-center">
                        <div class="row content-brand">[[cosmetic.brandName]]</div>
                        <div class="row content-cosmetic">[[cosmetic.productName]] [[cosmetic.typeName]]
                        </div>
                    </div>
                    <div class="col-1 col-content d-flex flex-column justify-content-center">
                        <div v-html="cosmetic.smallCategory"
                            class="row justify-content-center content-category text-center">
                        </div>
                    </div>
                    <div class="col-1 col-title text-center"></div>
                    <div class="col-2 col-content d-inline-flex justify-content-center align-items-center">
                        <span v-for="tag in cosmetic.tagNames" class="justify-content-center">
                            <button class="btn btn-outline-primary tag-btn">[[tag]]</button>
                        </span>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center">
                        <div class="row justify-content-center content-expiration"></div>
                    </div>
                    <div class="col-1 col-content d-flex flex-column justify-content-center">
                        <div class="row justify-content-center"></div>
                    </div>
                </div>
                <div class="gray-line"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

{% block extra-script %}
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';

    var vm = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            showMyCosmetic: true,
            isSelectMyAll: false,
            isSelectInterestedAll: false,
            myCosmetics: [],
            interestedCosmetics: [],
            displayMyCosmetics: [],
            displayInterestedCosmetics: [],
            selectedMyCosmetics: [],
            selectedInterestedCosmetics: [],
            selectedBrands: [],
            tempBrands: [],
            selectedCategories: [],
            tempCategories: [],
            showModal: false,
            showDeleteModal: false,
            allowSwitching: true,
            showMessage: false,
            message: "",
            time: 0,
            delay: 1000,
        },
        computed: {
            brands() {
                var brandList = []
                if (this.showMyCosmetic) {
                    if (this.myCosmetics != undefined) {
                        for (var i in this.myCosmetics) {
                            brandName = this.myCosmetics[i].brandName;
                            if (brandList.includes(brandName) == false) {
                                brandList.push(brandName)
                            }
                        }
                    }
                }
                else {
                    if (this.interestedCosmetics != undefined) {
                        for (var i in this.interestedCosmetics) {
                            brandName = this.interestedCosmetics[i].brandName;
                            if (brandList.includes(brandName) == false) {
                                brandList.push(brandName)
                            }
                        }
                    }
                }

                return brandList;
            },
            categories() {
                var categoryList = []
                if (this.showMyCosmetic) {
                    if (this.myCosmetics != undefined) {
                        for (var i in this.myCosmetics) {
                            category = this.myCosmetics[i].smallCategory;
                            if (categoryList.includes(category) == false) {
                                categoryList.push(category)
                            }
                        }
                    }
                }
                else {
                    if (this.interestedCosmetics != undefined) {
                        for (var i in this.interestedCosmetics) {
                            category = this.interestedCosmetics[i].smallCategory;
                            if (categoryList.includes(category) == false) {
                                categoryList.push(category)
                            }
                        }
                    }
                }

                return categoryList;
            },
            selectedMyIdList() {
                var idList = []
                for (var i in this.selectedMyCosmetics) {
                    idList.push(this.selectedMyCosmetics[i].cosmeticId)
                }

                return idList;
            },
            selectedInterestedIdList() {
                var idList = []
                for (var i in this.selectedInterestedCosmetics) {
                    idList.push(this.selectedInterestedCosmetics[i].cosmeticId)
                }

                return idList;
            }
        },
        methods: {
            messageToggle(message) {
                this.showMessage = true;
                this.message = message;
                const self = this;
                this.timer = setTimeout(function () {
                    self.showMessage = false;
                }, this.delay);
            },
            btnOn(btnElement) {
                btnElement.classList.remove("btn-outline-primary");
                btnElement.classList.add("btn-primary");
            },
            btnOff(btnElement) {
                btnElement.classList.remove("btn-primary");
                btnElement.classList.add("btn-outline-primary");
            },
            changeToMy() {
                this.showMyCosmetic = true;
                this.btnOn(document.querySelector(".my-cosmetic-btn"));
                this.btnOff(document.querySelector(".interested-cosmetic-btn"));
                if (this.isSelectMyAll)
                    this.btnOn(document.querySelector(".select-all-btn"));
                else
                    this.btnOff(document.querySelector(".select-all-btn"));
                this.resetDetail();
                this.allowSwitching = true;
            },
            changeToInterested() {
                this.showMyCosmetic = false;
                this.btnOff(document.querySelector(".my-cosmetic-btn"));
                this.btnOn(document.querySelector(".interested-cosmetic-btn"));
                if (this.isSelectInterestedAll)
                    this.btnOn(document.querySelector(".select-all-btn"));
                else
                    this.btnOff(document.querySelector(".select-all-btn"));
                this.resetDetail();
                this.allowSwitching = true;
            },
            selectAll() {
                if (this.showMyCosmetic) {
                    var cosmeticRows = document.querySelectorAll(".myCosmetic-row");

                    if (this.isSelectMyAll) {
                        this.selectedMyCosmetics = [];
                        for (var index = 0; index < cosmeticRows.length; index++) {
                            cosmeticRows[index].classList.remove("select-row");
                        }
                        this.btnOff(document.querySelector(".select-all-btn"));
                        this.isSelectMyAll = false;
                    }
                    else {
                        this.selectedMyCosmetics = [];
                        for (var index = 0; index < cosmeticRows.length; index++) {
                            cosmeticRows[index].classList.add("select-row");
                            this.selectedMyCosmetics.push({
                                arrayIndex: index,
                                cosmeticId: this.myCosmetics[index].id
                            })
                        }
                        this.btnOn(document.querySelector(".select-all-btn"));
                        this.isSelectMyAll = true;
                    }
                }
                else {
                    var cosmeticRows = document.querySelectorAll(".interestedCosmetic-row");

                    if (this.isSelectInterestedAll) {
                        this.selectedInterestedCosmetics = [];
                        for (var index = 0; index < cosmeticRows.length; index++) {
                            cosmeticRows[index].classList.remove("select-row");
                        }
                        this.btnOff(document.querySelector(".select-all-btn"));
                        this.isSelectInterestedAll = false;
                    }
                    else {
                        this.selectedInterestedCosmetics = [];
                        for (var index = 0; index < cosmeticRows.length; index++) {
                            cosmeticRows[index].classList.add("select-row");
                            this.selectedInterestedCosmetics.push({
                                arrayIndex: index,
                                cosmeticId: this.interestedCosmetics[index].id
                            })
                        }
                        this.btnOn(document.querySelector(".select-all-btn"));
                        this.isSelectInterestedAll = true;
                    }
                }
            },
            selectCosmetic(event, kindCosmetic, arrayIndex, cosmeticId) {
                console.log(cosmeticId);
                if (event.target.classList.contains("alarm-select"))
                    return;

                if (kindCosmetic == "my") {
                    var cosmeticRow = document.querySelectorAll(".myCosmetic-row")[arrayIndex];

                    for (var index in this.selectedMyCosmetics) {
                        if (this.selectedMyCosmetics[index].arrayIndex == arrayIndex) {
                            cosmeticRow.classList.remove("select-row");
                            this.selectedMyCosmetics.splice(index, 1);
                            this.isSelectMyAll = false;
                            this.btnOff(document.querySelector(".select-all-btn"));
                            return;
                        }
                    }
                    this.selectedMyCosmetics.push({
                        arrayIndex: arrayIndex,
                        cosmeticId: cosmeticId
                    })
                    cosmeticRow.classList.add("select-row");

                    if (this.selectedMyCosmetics.length == this.myCosmetics.length) {
                        this.isSelectMyAll = true;
                        this.btnOn(document.querySelector(".select-all-btn"));
                    }
                }
                else {
                    var cosmeticRow = document.querySelectorAll(".interestedCosmetic-row")[arrayIndex];

                    for (var index in this.selectedInterestedCosmetics) {
                        if (this.selectedInterestedCosmetics[index].arrayIndex == arrayIndex) {
                            cosmeticRow.classList.remove("select-row");
                            this.selectedInterestedCosmetics.splice(index, 1);
                            this.isSelectInterestedAll = false;
                            this.btnOff(document.querySelector(".select-all-btn"));
                            return;
                        }
                    }
                    this.selectedInterestedCosmetics.push({
                        arrayIndex: arrayIndex,
                        cosmeticId: cosmeticId
                    })
                    cosmeticRow.classList.add("select-row");

                    if (this.selectedInterestedCosmetics.length == this.interestedCosmetics.length) {
                        this.isSelectInterestedAll = true;
                        this.btnOn(document.querySelector(".select-all-btn"));
                    }
                }
            },
            resetSelect() {
                this.selectedMyCosmetics = [];
                this.selectedInterestedCosmetics = [];
                this.removeSelectEffect(".myCosmetic-row");
                this.removeSelectEffect(".interestedCosmetic-row");
            },
            removeSelectEffect(className) {
                var cosmeticRows = document.querySelectorAll(className);
                for (var index = 0; index < cosmeticRows.length; index++) {
                    cosmeticRows[index].classList.remove("select-row");
                }
            },
            detailSearch() {
                this.showModal = true;
                this.tempBrands = this.selectedBrands;
                this.tempCategories = this.selectedCategories;
            },
            hightingBtn() {
                const brands = document.querySelectorAll(".detail-brand");
                const categories = document.querySelectorAll(".detail-category");

                for (var i in brands) {
                    if (this.selectedBrands.includes(brands[i].innerText)) {
                        this.btnOn(brands[i]);
                    }
                }

                for (var i in categories) {
                    if (this.selectedCategories.includes(categories[i].innerText)) {
                        this.btnOn(categories[i]);
                    }
                }
            },
            selectBrand(event, brand) {
                if (this.tempBrands.includes(brand)) {
                    this.tempBrands.splice(this.tempBrands.indexOf(brand), 1);
                    this.btnOff(event.target);
                } else {
                    this.tempBrands.push(brand)
                    this.btnOn(event.target);
                }
                console.log(this.tempBrands)
            },
            selectCategory(event, category) {
                if (this.tempCategories.includes(category)) {
                    this.tempCategories.splice(this.tempCategories.indexOf(category), 1);
                    this.btnOff(event.target);
                } else {
                    this.tempCategories.push(category)
                    this.btnOn(event.target);
                }
                console.log(this.tempCategories)
            },
            submitDetail() {
                this.showModal = false;
                this.selectedBrands = this.tempBrands;
                this.selectedCategories = this.tempCategories;

                if (this.tempBrands.length + this.tempCategories.length > 0)
                    this.btnOn(document.querySelector(".detail-search-btn"));
                else
                    this.btnOff(document.querySelector(".detail-search-btn"));

                this.filteringCosmetic();
                this.resetSelect();
            },
            filteringCosmetic() {
                if (this.showMyCosmetic) {
                    this.displayMyCosmetics = this.filteringByBrands(this.myCosmetics);
                    this.allowSwitching = true;
                }
                else {
                    this.displayInterestedCosmetics = this.filteringByBrands(this.interestedCosmetics);
                }

                if (this.showMyCosmetic) {
                    this.displayMyCosmetics = this.filteringByCategories(this.displayMyCosmetics);
                    this.allowSwitching = true;
                }
                else {
                    this.displayInterestedCosmetics = this.filteringByCategories(this.displayInterestedCosmetics);
                }
            },
            filteringByBrands(cosmetics) {
                var displayCosmetics = []
                if (this.selectedBrands.length == 0) {
                    displayCosmetics = cosmetics;
                }
                else {
                    displayCosmetics = []
                    for (var i in cosmetics) {
                        if (this.selectedBrands.includes(cosmetics[i].brandName)) {
                            displayCosmetics.push(cosmetics[i])
                        }
                    }
                }
                return displayCosmetics;
            },
            filteringByCategories(cosmetics) {
                var displayCosmetics = []
                if (this.selectedCategories.length == 0) {
                    displayCosmetics = cosmetics;
                }
                else {
                    displayCosmetics = []
                    for (var i in cosmetics) {
                        if (this.selectedCategories.includes(cosmetics[i].smallCategory)) {
                            displayCosmetics.push(cosmetics[i])
                        }
                    }
                }
                return displayCosmetics;
            },
            resetDetail() {
                this.selectedBrands = [];
                this.selectedCategories = [];
                this.btnOff(document.querySelector(".detail-search-btn"));

                this.displayMyCosmetics = this.myCosmetics;
                this.displayInterestedCosmetics = this.interestedCosmetics;
            },
            closeModal() {
                this.showModal = false;
            },
            confirmDelete() {
                if (this.showMyCosmetic && this.selectedMyCosmetics.length == 0)
                    return;
                else if (this.showMyCosmetic == false && this.selectedInterestedCosmetics.length == 0)
                    return;

                this.showDeleteModal = true;
            },
            closeDeleteModal() {
                this.showDeleteModal = false;
            },
            deleteCosmetic() {
                this.closeDeleteModal();
                if (this.showMyCosmetic) {
                    axios.delete('/api/user/cosmetic/', {
                        data: {
                            user_cosmetic_id: this.selectedMyIdList
                        }
                    })
                        .then((res) => {
                            console.log("GET SUCCESS", res);
                            const data = res.data;
                            for (var i in this.selectedMyIdList) {
                                for (var j in this.myCosmetics) {
                                    if (this.selectedMyIdList[i] == this.myCosmetics[j].id) {
                                        this.myCosmetics.splice(j, 1);
                                        break;
                                    }
                                }
                            }
                            this.selectedMyCosmetics = [];
                            this.allowSwitching = true;
                        })
                        .catch(function (err) {
                            console.log("GET FAIL", err);
                        });
                }
                else {
                    axios.delete('/api/user/cosmetic/interested/', {
                        data: {
                            user_interested_cosmetic_id: this.selectedInterestedIdList
                        }
                    })
                        .then((res) => {
                            console.log("GET SUCCESS", res);
                            const data = res.data;
                            for (var i in this.selectedInterestedIdList) {
                                for (var j in this.interestedCosmetics) {
                                    if (this.selectedInterestedIdList[i] == this.interestedCosmetics[j].id) {
                                        this.interestedCosmetics.splice(j, 1);
                                        break;
                                    }
                                }
                            }
                            this.selectedInterestedIdList = [];
                        })
                        .catch(function (err) {
                            console.log("GET FAIL", err);
                        });
                }
            },
            alarmToggle(event, cosmetic) {
                if (this.allowSwitching) return;
                if (cosmetic.alarmCycle == 0) {
                    event.preventDefault();
                    return;
                }

                if (event.target.value == "off") {
                    event.target.value = "on";
                }
                else {
                    event.target.value = "off";
                }
                cosmetic.isConsentAlarm = !cosmetic.isConsentAlarm;

                var params = {
                    user_cosmetic_id: cosmetic.id,
                    is_consent_alarm: cosmetic.isConsentAlarm,
                    alarm_cycle: cosmetic.alarmCycle,
                };
                axios.put('/api/user/cosmetic/', params)
                    .then((res) => {
                        var message = "";
                        if (cosmetic.isConsentAlarm)
                            message = "알람이 켜졌습니다.";
                        else
                            message = "알람이 꺼졌습니다.";
                        this.messageToggle(message);
                    })
                    .catch(function (err) {
                        console.log("GET FAIL", err);
                    });
            },
            selectAlarmCycle(event, cosmetic) {
                const alarmCycle = parseInt(event.target.value);
                var message = "";
                cosmetic.alarmCycle = alarmCycle;

                if (cosmetic.isConsentAlarm == false && alarmCycle > 0) {
                    cosmetic.isConsentAlarm = true;
                    this.allowSwitching = true;
                    message = "알람이 켜졌습니다."
                }
                else if (cosmetic.isConsentAlarm == false && alarmCycle == 0) {
                    message = "알람이 기간이 변경되었습니다."
                }
                else if (cosmetic.isConsentAlarm && alarmCycle > 0) {
                    message = "알람이 기간이 변경되었습니다."
                }
                else if (cosmetic.isConsentAlarm && alarmCycle == 0) {
                    cosmetic.isConsentAlarm = false;
                    this.allowSwitching = true;
                    message = "알람이 꺼졌습니다."
                }

                var params = {
                    user_cosmetic_id: cosmetic.id,
                    is_consent_alarm: cosmetic.isConsentAlarm,
                    alarm_cycle: cosmetic.alarmCycle,
                };
                axios.put('/api/user/cosmetic/', params)
                    .then((res) => {
                        console.log("GET SUCCESS", res);
                        const data = res.data;
                        this.messageToggle(message);
                    })
                    .catch(function (err) {
                        console.log("GET FAIL", err);
                    });
            },
        },
        created() {
            var today = new Date();

            function cosmeticInsert(data) {
                var imageLink;

                if (data.cosmetic.product.image_link)
                    imageLink = data.cosmetic.product.image_link;
                else
                    imageLink = data.cosmetic.image_link;

                var tagNames = [];
                for (var tag_index in data.cosmetic.product.tag_names) {
                    if (tagNames.length < 3)
                        tagNames.push(data.cosmetic.product.tag_names[tag_index].tag_name);
                }

                const expirationDate = new Date(data.expiration_date);
                const diffTime = (expirationDate - today);
                const restDay = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

                var cosmetic = {
                    id: data.id,
                    cosmeticId: data.cosmetic.id,
                    brandName: data.cosmetic.product.brand.brand_name,
                    productName: data.cosmetic.product.product_name,
                    typeName: data.cosmetic.type_name,
                    imageLink: imageLink,
                    tagNames: tagNames,
                    smallCategory: data.cosmetic.product.category.small_category.replace("-", "<br/>"),
                    expirationDate: data.expiration_date,
                    restDay: restDay,
                    absRestDay: Math.abs(restDay),
                    alarmCycle: data.alarm_cycle,
                    isConsentAlarm: data.is_consent_alarm,
                };
                return cosmetic;
            }

            axios.get('/api/user/cosmetic/')
                .then((res) => {
                    console.log("GET SUCCESS", res);
                    const data = res.data;

                    for (var i in data)
                        this.myCosmetics.push(cosmeticInsert(data[i]))
                })
                .catch(function (err) {
                    console.log("GET FAIL", err);
                });

            axios.get('/api/user/cosmetic/interested/')
                .then((res) => {
                    console.log("GET SUCCESS", res);
                    const data = res.data;

                    for (var i in data)
                        this.interestedCosmetics.push(cosmeticInsert(data[i]))
                })
                .catch(function (err) {
                    console.log("GET FAIL", err);
                });

            function customSort(a, b) {
                if (a.restDay == b.restDay) {
                    return 0
                }
                return a.restDay > b.restDay ? 1 : -1;
            }
            this.myCosmetics.sort(customSort);
            this.displayMyCosmetics = this.myCosmetics;
            this.displayInterestedCosmetics = this.interestedCosmetics;
            console.log(this.myCosmetics);
        },
        updated() {
            if (this.allowSwitching) {
                const switches = this.$el.querySelectorAll(".switch");
                const alarmSwitches = this.$el.querySelectorAll(".switch-alarm");
                for (var i in this.displayMyCosmetics) {
                    if (this.displayMyCosmetics[i].isConsentAlarm && alarmSwitches[i].value == 'off') {
                        switches[i].click();
                        alarmSwitches[i].value = 'on';
                    }
                    else if (this.displayMyCosmetics[i].isConsentAlarm == false && alarmSwitches[i].value == 'on') {
                        switches[i].click();
                        alarmSwitches[i].value = 'off';
                    }
                }

                this.allowSwitching = false;
            }
        }
    })
</script>
{% endblock extra-script %}