{% extends 'base.html' %}

{% load staticfiles %}

{% block extra-style %}
{% endblock extra-style %}

{% block navbar%}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container" id="app">
    <div class="row">
        <h5>[[ username ]]님의 화장품</h5>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row black-line"></div>
            <div class="row">
                <div class="col-6">
                    <input type="checkbox">
                    <button>화장품 조합</button>
                    <button>삭제</button>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <button>내 화장품</button>
                    <button>관심 화장품</button>
                </div>
            </div>
            <div class="row gray-line"></div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-3">제품</div>
                <div class="col-2">카테고리</div>
                <div class="col-2">태그</div>
                <div class="col-3">관리상태</div>
            </div>
            <div class="row black-line"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div v-for="" class="row">
                <div class="col-2">
                    <img src="[[]]" alt="">
                </div>
                <div class="col-3">제품</div>
                <div class="col-2">카테고리</div>
                <div class="col-2">태그</div>
                <div class="col-3">관리상태</div>
            </div>
        </div>
    </div>


    <a href="{% url 'cosmetic:register' %}">
        <button type="button" class="btn btn-success">화장품 등록하러 가기</button>
    </a>
</div>
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

{% block extra-script %}
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';

    var vm = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            myCosmetic: [],
            username: "최범수"
        },
        methods: {

        },
        created() {
            var test = [
                {
                    "id": 1658,
                    "product": {
                        "id": 36234,
                        "brand": {
                            "id": 17717,
                            "brand_name": "가네보"
                        },
                        "category": {
                            "id": 21,
                            "big_category": {
                                "id": 13,
                                "big_category": "색조"
                            },
                            "small_category": "립스틱"
                        },
                        "tag_names": [
                            {
                                "id": 1,
                                "tag_name": "보습"
                            }
                        ],
                        "product_name": "센사이 더 립스틱",
                        "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20160202/1454391896530.jpg"
                    },
                    "type_name": " 06",
                    "rgb_value": "None",
                    "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20160202/1454391896530.jpg",
                    "similar_cosmetics": ""
                },
                {
                    "id": 3341,
                    "product": {
                        "id": 36536,
                        "brand": {
                            "id": 15345,
                            "brand_name": "네이처리퍼블릭"
                        },
                        "category": {
                            "id": 21,
                            "big_category": {
                                "id": 13,
                                "big_category": "색조"
                            },
                            "small_category": "립스틱"
                        },
                        "tag_names": [
                            {
                                "id": 1,
                                "tag_name": "보습"
                            },
                            {
                                "id": 82,
                                "tag_name": "매트"
                            }
                        ],
                        "product_name": "크리미 립스틱",
                        "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20140609/1402371511484.jpg"
                    },
                    "type_name": " 코랄핑크",
                    "rgb_value": "None",
                    "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20140609/1402371511484.jpg",
                    "similar_cosmetics": ""
                },
                {
                    "id": 9536,
                    "product": {
                        "id": 38131,
                        "brand": {
                            "id": 15779,
                            "brand_name": "로레알파리"
                        },
                        "category": {
                            "id": 21,
                            "big_category": {
                                "id": 13,
                                "big_category": "색조"
                            },
                            "small_category": "립스틱"
                        },
                        "tag_names": [
                            {
                                "id": 1,
                                "tag_name": "보습"
                            }
                        ],
                        "product_name": "루즈 카레스 립스틱",
                        "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20160111/1452476148682.jpg"
                    },
                    "type_name": " #06 Aphrodite scarlet",
                    "rgb_value": "None",
                    "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20160111/1452476148682.jpg",
                    "similar_cosmetics": ""
                },
                {
                    "id": 18820,
                    "product": {
                        "id": 40443,
                        "brand": {
                            "id": 16196,
                            "brand_name": "블리블리(임블리)"
                        },
                        "category": {
                            "id": 21,
                            "big_category": {
                                "id": 13,
                                "big_category": "색조"
                            },
                            "small_category": "립스틱"
                        },
                        "tag_names": [
                            {
                                "id": 178,
                                "tag_name": "크레용타입"
                            }
                        ],
                        "product_name": "슬라이딩 버터 크레용 립스틱",
                        "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20160212/1455267309139.jpg"
                    },
                    "type_name": " 살구 버터",
                    "rgb_value": "None",
                    "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20160212/1455267309139.jpg",
                    "similar_cosmetics": ""
                },
                {
                    "id": 26306,
                    "product": {
                        "id": 42209,
                        "brand": {
                            "id": 17999,
                            "brand_name": "아미옥"
                        },
                        "category": {
                            "id": 21,
                            "big_category": {
                                "id": 13,
                                "big_category": "색조"
                            },
                            "small_category": "립스틱"
                        },
                        "tag_names": [
                            {
                                "id": 82,
                                "tag_name": "매트"
                            }
                        ],
                        "product_name": "스타일마스터 립스틱",
                        "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20181115/1542262806423.png"
                    },
                    "type_name": " 02 스포티즘",
                    "rgb_value": "None",
                    "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20181115/1542262806423.png",
                    "similar_cosmetics": ""
                },
            ];
            for (var i in test) {
                var data = test[i];
                var imageLink;

                if (data.image_link)
                    imageLink = data.image_link;
                else
                    imageLink = data.product.image_link;

                var tag_names = [];
                for (var j in data.product.tag_names)
                    tag_names.push(data.product.tag_names[j].tag_name);

                var result = {
                    id: data.id,
                    brand_name: data.product.brand.brand_name,
                    small_category: data.product.category.small_category,
                    product_name: data.product.product_name,
                    type_name: data.type_name,
                    image_link: imageLink,
                    tag_names: tag_names
                }
                console.log(result);
                this.searchResults.push(result);
            }
        }
    })
</script>
{% endblock extra-script %}