{% extends 'base.html' %}
<!-- {% load rest_framework %} -->
{% load staticfiles %}

{% block extra-style %}
<style>
    body {
        height: 98%;
    }

    .container-fluid * {
        margin: 0px;
        padding: 0px;
    }

    .search-wrapper {
        width: 100%;
        padding: 0 3%;
    }

    .search-input {
        width: 98%;
        margin-right: 4px;
    }

    .search-btn {
        width: 100px;
        height: 100%;
        border-radius: 2px;
        padding: 7px;
    }

    .img-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-wrapper img {
        width: 300px;
    }

    .section-wrapper {
        width: 90%;
        padding: 5px;
        border: 1px solid pink;
        border-radius: 2px;
    }

    .section-title {
        width: 200px;
        text-align: center;
        border-right: 1px solid lightgray;
    }

    .date-form {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .form-in-box {
        width: 72%;
        border: 0;
    }

    .register-form {
        margin-right: 5%;
    }

    .search-result-window {
        position: absolute;
        top: 50px;
        margin-left: 3%;
        background-color: white;
        border: 1px solid pink;
        z-index: 1000;
        width: 94%;
    }

    .search-img {
        width: 100px;
        padding: 5px;
    }

    .search-result-title {
        width: 100px;
        font-size: 13px;
    }

    .search-result-item {
        font-size: 13px;
        font-weight: bold;
    }

    .kind-tap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        border: 1px solid pink;
        border-radius: 5px 5px 0px 0px;
    }

    .selected-kind-tap {
        border-bottom: 1px solid white;
        font-weight: bold;
    }

    .rest-space {
        border-bottom: 1px solid pink;
    }

    .kind-row {
        height: 80vh;
        border: 1px solid pink;
        border-radius: 0px 0px 5px 5px;
        border-top: 0px;
    }

    .main-row {
        max-height: 100vh;
    }

    .left-col {
        height: 80vh;
        overflow-y: scroll;
    }

    .right-col {
        float: left;
        overflow-y: scroll;
    }

    .user-cosmetic-img {
        width: 80px;
        padding: 5px;
    }

    .user-cosmetic-item {
        font-size: 14px;
        font-weight: bold;
    }

    .tag-btn {
        font-size: 12px;
        padding: 1px 6px;
        margin: 2px;
        font-weight: bold;
    }
</style>
{% endblock extra-style %}

{% block navbar%}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid" id="app">
    <div class="row main-row">
        <div class="col-8 mt-5 mb-5 pt-1">
            <div class="search-wrapper d-flex justify-content-center align-items-center">
                <input @keyup="searchCosmetic($event, true)" v-model="query_cosmetic" placeholder="화장품의 제품명을 검색해주세요"
                    class="form-control search-input pl-2" />
                <button @click="searchCosmetic($event, false)" class="search-btn btn btn-primary">검색</button>
            </div>
            <div v-if="query_cosmetic" class="search-result-window">
                <div v-for="searchResult in searchResults" :key="searchResult.id" @click="selectCosmetic(searchResult)">
                    <div class="d-flex align-items-center">
                        <img :src="[[ searchResult.image_link ]]" alt="{% static 'img/main.jpeg' %}" class="search-img">
                        <div class="search-result-wrapper">
                            <div class="search-result-info d-flex align-items-center mb-1">
                                <div class="search-result-title">브랜드</div>
                                <div class="search-result-item">[[ searchResult.brand_name ]]</div>
                            </div>
                            <div class="search-result-info d-flex align-items-center mb-1">
                                <div class="search-result-title">제품명</div>
                                <div class="search-result-item">[[ searchResult.product_name ]]</div>
                            </div>
                            <div class="search-result-info d-flex align-items-center">
                                <div class="search-result-title">색상/타입</div>
                                <div class="search-result-item">[[ searchResult.type_name ]]</div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
            <div class="container-fluid left-col">
                <div class="row mt-4">
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <label class="mr-1">내 화장품 등록</label>
                        <input type="radio" id="my_cosmetic" value="myCosmetic" v-model="kindSelect"
                            class="kind-select" />
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <label class="mr-1">관심 화장품 등록</label>
                        <input type="radio" id="interested_cosmetic" value="interestedCosmetic" v-model="kindSelect"
                            class="kind-select" />
                    </div>
                </div>
                <div v-if="cosmeticID" class="row mt-4">
                    <div class="img-wrapper">
                        <img :src="[[ imageLink ]]" alt="화장품의 제품명을 검색해주세요" class="text-center">
                    </div>
                </div>
                <div class=" row mt-4 justify-content-center">
                    <div class="section-wrapper d-flex align-items-center">
                        <div class="section-title">제품명</div>
                        <div class="section-value ml-2">[[ productName ]]</div>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="section-wrapper d-flex align-items-center">
                        <div class="section-title">브랜드</div>
                        <div class="section-value ml-2">[[ brandName ]]</div>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="section-wrapper d-flex align-items-center">
                        <div class="section-title">색상/타입</div>
                        <div class="section-value ml-2">[[ typeName ]]</div>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="section-wrapper d-flex align-items-center">
                        <div class="section-title">카테고리</div>
                        <div class="section-value ml-2">[[ categoryName ]]</div>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="section-wrapper d-flex align-items-center">
                        <div class="section-title">태그</div>
                        <div class="section-value ml-2">[[ tagList ]]</div>
                    </div>
                </div>

                <div v-if="kindSelect == 'myCosmetic'">
                    <div class="row mt-5 d-flex justify-content-between align-items-center">
                        <div class="col-6 d-flex justify-content-center align-items-center">
                            <label class="mr-1">유통기한</label>
                            <input @click="changeDateSelect" type="radio" id="expiration" value="expiration"
                                v-model="dateSelect" class="kind-select" />
                        </div>
                        <div class="col-6 d-flex justify-content-center align-items-center">
                            <label class="mr-1">사용기한</label>
                            <input @click="changeDateSelect" type="radio" id="useBy" value="useBy" v-model="dateSelect"
                                class="kind-select" />
                        </div>
                    </div>
                    <div v-if="dateSelect == 'expiration'" class="row mt-3 justify-content-center">
                        <div class="section-wrapper d-flex align-items-center">
                            <div class="section-title">유통기한</div>
                            <input type="text" placeholder="YYYY-MM-DD" v-model="expirationDate"
                                onfocus="(this.type='date')" class="form-in-box date-form form-control pl-2 pr-2 ml-2">
                        </div>
                    </div>
                    <div v-else class="row mt-3 justify-content-center">
                        <div class="section-wrapper d-flex align-items-center">
                            <div class="section-title">사용기한</div>
                            <input type="number" v-model="monthValue" class="form-in-box form-control pl-2 pr-2 ml-2"
                                placeholder="화장품의 사용기한을 개월 수로 입력해주세요.">
                        </div>
                        <div class="section-wrapper d-flex align-items-center mt-3">
                            <div class="section-title">개봉일자</div>
                            <input type="text" placeholder="YYYY-MM-DD" v-model="useByDate" onfocus="(this.type='date')"
                                class="form-in-box date-form form-control pl-2 pr-2 ml-2">
                        </div>
                    </div>
                    <div class="row mt-3 d-flex justify-content-center align-items-center">
                        <div class="section-wrapper d-flex align-items-center">
                            <div class="section-title">알람 주기</div>
                            <select v-model="alarmPeriod" class="form-in-box form-control pl-2 pr-2 ml-2">
                                <option disabled value="">알람 주기를 선택해주세요</option>
                                <option value="0">알람 없음</option>
                                <option value="7">일주일 전 알람</option>
                                <option value="30">1달 전 알람</option>
                                <option value="60">2달 전 알람</option>
                                <option value="90">3달 전 알람</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end register-form mt-3 pb-3">
                    <button @click="submitCosmetic" class="btn btn-primary p-2 pr-4 pl-4">등록하기</button>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5 mb-5 pt-1 pl-2 right-row">
            <div class="row">
                <div @click="showMyCosmetic()" class="col-4 my-cosmetic-tap kind-tap selected-kind-tap">
                    내 화장품
                </div>
                <div @click="showInterestedCosmetic()" class="col-4 interested-cosmetic-tap kind-tap">
                    관심 화장품
                </div>
                <div class="col-4 rest-space"></div>
            </div>
            <div class="row kind-row">
                <div v-if="cosmeticListView">
                    <div v-for="cosmetic in myCosmetics" :key="cosmetic.id" class="w-100 p-1">
                        <div class="d-flex align-items-center">
                            <img :src="[[ cosmetic.image_link ]]" alt="{% static 'img/main.jpeg' %}"
                                class="user-cosmetic-img">
                            <div class="search-result-wrapper">
                                <div class="search-result-info d-flex flex-column justify-content-center mb-1">
                                    <div class="user-cosmetic-item">[[ cosmetic.brand_name ]] [[
                                        cosmetic.product_name ]] [[ cosmetic.type_name ]]</div>
                                    <div>
                                        <span v-for="tag in cosmetic.tag_names" class="justify-content-center">
                                            <button class="btn btn-outline-primary tag-btn">[[tag]]</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
                <div v-else>
                    <div v-for="cosmetic in interestedCosmetics" :key="cosmetic.id" class="w-100 p-1">
                        <div class="d-flex align-items-center">
                            <img :src="[[ cosmetic.image_link ]]" alt="{% static 'img/main.jpeg' %}"
                                class="user-cosmetic-img">
                            <div class="search-result-wrapper">
                                <div class="search-result-info d-flex flex-column justify-content-center mb-1">
                                    <div class="user-cosmetic-item">[[ cosmetic.brand_name ]] [[
                                        cosmetic.product_name ]] [[ cosmetic.type_name ]]</div>
                                    <div>
                                        <span v-for="tag in cosmetic.tag_names" class="justify-content-center">
                                            <button class="btn btn-outline-primary tag-btn">[[tag]]</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

{% block extra-script %}
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';

    var register = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data() {
            return {
                query_cosmetic: "",
                cosmeticID: "",
                productName: "",
                brandName: "",
                categoryName: "",
                typeName: "",
                tags: [],
                imageLink: "",
                expirationDate: "",
                useByDate: "",
                monthValue: "",
                alarmPeriod: "",
                dateSelect: "expiration",
                kindSelect: "myCosmetic",
                searchResults: [],
                myCosmetics: [],
                interestedCosmetics: [],
                cosmeticListView: true
            }
        },
        computed: {
            tagList() {
                return this.tags.join(", ");
            },
            isConsentAlarm() {
                if (this.alarmPeriod > 0)
                    return true;
                else
                    return false;
            },
            expirationData() {
                if (this.dateSelect == "expiration")
                    return this.expirationDate
                else {
                    var year, month;
                    const [splitedYear, splitedMonth, splitedDay] = this.useByDate.split('-').map(item => parseInt(item));

                    month = parseInt((parseInt(this.monthValue) + splitedMonth) % 12);
                    year = parseInt((parseInt(this.monthValue) + splitedMonth) / 12) + splitedYear;

                    const resultDate = `${year}-${month}-${splitedDay}`;

                    return resultDate;
                }
            },
            alarmCycle() {
                return parseInt(this.alarmPeriod);
            },
        },
        methods: {
            selectCosmetic(searchResult) {
                this.cosmeticID = searchResult.id;
                this.productName = searchResult.product_name;
                this.brandName = searchResult.brand_name;
                this.categoryName = searchResult.small_category;
                this.tags = searchResult.tag_names;
                this.imageLink = searchResult.image_link;
                this.typeName = searchResult.type_name;
                this.query_cosmetic = "";
            },
            showMyCosmetic() {
                this.$el.querySelector(".my-cosmetic-tap").classList.add("selected-kind-tap");
                this.$el.querySelector(".interested-cosmetic-tap").classList.remove("selected-kind-tap");
                this.cosmeticListView = true;
            },
            showInterestedCosmetic() {
                this.$el.querySelector(".my-cosmetic-tap").classList.remove("selected-kind-tap");
                this.$el.querySelector(".interested-cosmetic-tap").classList.add("selected-kind-tap");
                this.cosmeticListView = false;
            },
            changeDateSelect() {
                this.expirationDate = ""
                this.useByDate = ""
                this.alarmPeriod = ""
            },
            submitCosmetic() {
                if (this.kindSelect == "myCosmetic") {
                    if (this.cosmeticID && this.expirationData && this.alarmCycle >= 0) {
                        console.log("폼 진행");

                        var postData = {
                            cosmetic_id: this.cosmeticID,
                            expiration_data: this.expirationData,
                            alarm_cycle: this.alarmCycle,
                            is_consent_alarm: this.isConsentAlarm
                        };

                        console.log(postData);

                        axios.post('/api/user/cosmetic/', postData)
                            .then(function (res) {
                                console.log("GET SUCCESS", res);
                                const data = res.data;

                                var imageLink;

                                if (data.image_link)
                                    imageLink = data.image_link;
                                else
                                    imageLink = data.product.image_link;

                                var tagNames = [];
                                for (var tag in data.product.tag_names)
                                    tagNames.push(tag.tag_name);

                                for (var i in data) {
                                    var cosmetic = {
                                        id: data.id,
                                        brand_name: data.product.brand.brand_name,
                                        product_name: data.product.product_name,
                                        type_name: data.type_name,
                                        image_link: imageLink,
                                        tag_names: tagNames
                                    };

                                    this.myCosmetics.push(cosmetic)
                                }
                            })
                            .catch(function (err) {
                                console.log("GET FAIL", err);
                            });
                    }
                    else {
                        event.preventDefault()
                        console.log("입력사항을 확인해주세요");
                    }
                }
                else {
                    if (this.cosmeticID) {
                        console.log("폼 진행");

                        var postData = {
                            cosmetic_id: this.cosmeticID,
                        };

                        console.log(postData);

                        axios.post('/api/user/cosmetic/interested/', postData)
                            .then(function (res) {
                                console.log("GET SUCCESS", res);
                            })
                            .catch(function (err) {
                                console.log("GET FAIL", err);
                            });
                    }
                    else {
                        event.preventDefault()
                        console.log("입력사항을 확인해주세요");
                    }
                }
            },
            searchCosmetic(event, isKey) {
                if (isKey && event.key != "enter") {
                    var postData = {
                        params: {
                            query_cosmetic: this.query_cosmetic,
                            is_keyuped: true,
                            is_clicked: false
                        }
                    };
                }
                else {
                    var postData = {
                        params: {
                            query_cosmetic: this.query_cosmetic,
                            is_keyuped: false,
                            is_clicked: true
                        }
                    };
                }

                console.log(postData);

                axios.get('/api/cosmetic/', postData)
                    .then((res) => {
                        console.log("GET SUCCESS", res);
                        this.searchResults = [];

                        for (var i in res.data) {
                            const data = res.data[i];
                            var imageLink;

                            if (data.product.image_link)
                                imageLink = data.product.image_link;
                            else
                                imageLink = data.image_link;

                            var tagNames = [];
                            for (var i in data.product.tag_names)
                                tagNames.push(data.product.tag_names[i].tag_name);

                            var result = {
                                id: data.id,
                                brand_name: data.product.brand.brand_name,
                                small_category: data.product.category.small_category,
                                product_name: data.product.product_name,
                                type_name: data.type_name,
                                image_link: imageLink,
                                tag_names: tagNames
                            }

                            this.searchResults.push(result);
                        }
                    })
                    .catch((err) => {
                        console.log("GET FAIL", err);
                        this.searchResults = [];
                        var test = [
                            {
                                "id": 1658,
                                "product": {
                                    "id": 36234,
                                    "brand": {
                                        "id": 17717,
                                        "brand_name": "가네보"
                                    },
                                    "category": {
                                        "id": 21,
                                        "big_category": {
                                            "id": 13,
                                            "big_category": "색조"
                                        },
                                        "small_category": "립스틱"
                                    },
                                    "tag_names": [
                                        {
                                            "id": 1,
                                            "tag_name": "보습"
                                        }
                                    ],
                                    "product_name": "센사이 더 립스틱",
                                    "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20160202/1454391896530.jpg"
                                },
                                "type_name": " 06",
                                "rgb_value": "None",
                                "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20160202/1454391896530.jpg",
                                "similar_cosmetics": ""
                            },
                            {
                                "id": 3341,
                                "product": {
                                    "id": 36536,
                                    "brand": {
                                        "id": 15345,
                                        "brand_name": "네이처리퍼블릭"
                                    },
                                    "category": {
                                        "id": 21,
                                        "big_category": {
                                            "id": 13,
                                            "big_category": "색조"
                                        },
                                        "small_category": "립스틱"
                                    },
                                    "tag_names": [
                                        {
                                            "id": 1,
                                            "tag_name": "보습"
                                        },
                                        {
                                            "id": 82,
                                            "tag_name": "매트"
                                        }
                                    ],
                                    "product_name": "크리미 립스틱",
                                    "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20140609/1402371511484.jpg"
                                },
                                "type_name": " 코랄핑크",
                                "rgb_value": "None",
                                "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20140609/1402371511484.jpg",
                                "similar_cosmetics": ""
                            },
                            {
                                "id": 9536,
                                "product": {
                                    "id": 38131,
                                    "brand": {
                                        "id": 15779,
                                        "brand_name": "로레알파리"
                                    },
                                    "category": {
                                        "id": 21,
                                        "big_category": {
                                            "id": 13,
                                            "big_category": "색조"
                                        },
                                        "small_category": "립스틱"
                                    },
                                    "tag_names": [
                                        {
                                            "id": 1,
                                            "tag_name": "보습"
                                        }
                                    ],
                                    "product_name": "루즈 카레스 립스틱",
                                    "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20160111/1452476148682.jpg"
                                },
                                "type_name": " #06 Aphrodite scarlet",
                                "rgb_value": "None",
                                "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20160111/1452476148682.jpg",
                                "similar_cosmetics": ""
                            },
                            {
                                "id": 18820,
                                "product": {
                                    "id": 40443,
                                    "brand": {
                                        "id": 16196,
                                        "brand_name": "블리블리(임블리)"
                                    },
                                    "category": {
                                        "id": 21,
                                        "big_category": {
                                            "id": 13,
                                            "big_category": "색조"
                                        },
                                        "small_category": "립스틱"
                                    },
                                    "tag_names": [
                                        {
                                            "id": 178,
                                            "tag_name": "크레용타입"
                                        }
                                    ],
                                    "product_name": "슬라이딩 버터 크레용 립스틱",
                                    "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20160212/1455267309139.jpg"
                                },
                                "type_name": " 살구 버터",
                                "rgb_value": "None",
                                "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20160212/1455267309139.jpg",
                                "similar_cosmetics": ""
                            },
                            {
                                "id": 26306,
                                "product": {
                                    "id": 42209,
                                    "brand": {
                                        "id": 17999,
                                        "brand_name": "아미옥"
                                    },
                                    "category": {
                                        "id": 21,
                                        "big_category": {
                                            "id": 13,
                                            "big_category": "색조"
                                        },
                                        "small_category": "립스틱"
                                    },
                                    "tag_names": [
                                        {
                                            "id": 82,
                                            "tag_name": "매트"
                                        }
                                    ],
                                    "product_name": "스타일마스터 립스틱",
                                    "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20181115/1542262806423.png"
                                },
                                "type_name": " 02 스포티즘",
                                "rgb_value": "None",
                                "image_link": "https://d9vmi5fxk1gsw.cloudfront.net/home/glowmee/upload/20181115/1542262806423.png",
                                "similar_cosmetics": ""
                            },
                        ];
                        for (var i in test) {
                            var data = test[i];
                            var imageLink;

                            if (data.image_link)
                                imageLink = data.image_link;
                            else
                                imageLink = data.product.image_link;

                            var tag_names = [];
                            for (var j in data.product.tag_names)
                                tag_names.push(data.product.tag_names[j].tag_name);

                            var result = {
                                id: data.id,
                                brand_name: data.product.brand.brand_name,
                                small_category: data.product.category.small_category,
                                product_name: data.product.product_name,
                                type_name: data.type_name,
                                image_link: imageLink,
                                tag_names: tag_names
                            }
                            console.log(result);
                            if (result.product_name.includes(this.query_cosmetic))
                                this.searchResults.push(result);
                        }
                    });
            },
        },
        created() {
            axios.get('/api/user/cosmetic/')
                .then((res) => {
                    console.log("GET SUCCESS", res);
                    const data = res.data;

                    for (var i in data) {
                        var imageLink;

                        if (data[i].cosmetic.product.image_link)
                            imageLink = data[i].cosmetic.product.image_link;
                        else
                            imageLink = data[i].cosmetic.image_link;

                        var tagNames = [];
                        for (var tag_index in data[i].cosmetic.product.tag_names)
                            tagNames.push(data[i].cosmetic.product.tag_names[tag_index].tag_name);

                        var cosmetic = {
                            id: data[i].cosmetic.id,
                            brand_name: data[i].cosmetic.product.brand.brand_name,
                            product_name: data[i].cosmetic.product.product_name,
                            type_name: data[i].cosmetic.type_name,
                            image_link: imageLink,
                            tag_names: tagNames
                        };

                        this.myCosmetics.push(cosmetic)
                    }
                })
                .catch(function (err) {
                    console.log("GET FAIL", err);
                });

            axios.get('/api/user/cosmetic/interested')
                .then((res) => {
                    console.log("GET SUCCESS", res);
                    const data = res.data;

                    for (var i in data) {
                        var imageLink;

                        if (data[i].cosmetic.product.image_link)
                            imageLink = data[i].cosmetic.product.image_link;
                        else
                            imageLink = data[i].cosmetic.image_link;

                        var tagNames = [];
                        for (var tag_index in data[i].cosmetic.product.tag_names)
                            tagNames.push(data[i].cosmetic.product.tag_names[tag_index].tag_name);

                        var cosmetic = {
                            id: data[i].cosmetic.id,
                            brand_name: data[i].cosmetic.product.brand.brand_name,
                            product_name: data[i].cosmetic.product.product_name,
                            type_name: data[i].cosmetic.type_name,
                            image_link: imageLink,
                            tag_names: tagNames
                        };

                        this.interestedCosmetics.push(cosmetic)
                        console.log(this.interestedCosmetics);
                    }
                })
                .catch(function (err) {
                    console.log("GET FAIL", err);
                });
        }
    })
</script>
{% endblock extra-script %}