{% extends 'base.html' %}
{% load crispy_forms_tags %} 


{% load staticfiles %}
 
{% block extra-style %}

<style>
.Ranking{
    font-size:80px;
}


.small{
    width: 80px;
    height: 80px;
}
.collapse{
    width: 70px;
    height: 70px;
    
 }



</style> 
{% endblock extra-style %}

{% block navbar%}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<!-- <div class="container">
    <h2>SNS 메인 페이지</h2>
    
    <a href="{% url 'home' %}">
        <button type="button" class="btn btn-success">홈으로 가기</button>
    </a>
</div> -->
    <div class="container">
      <div class="navbar-header">

        <div class="Ranking" >Beautyforme SNS Ranking</div>
      </div>
      <div class="navbar-collapse collapse">

      </div><!--/.nav-collapse -->
    </div>
  <br>
  <br>
  <br>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <p style="font-size:60px;">Day   Ranking</p>
      <p style="font-size:30px;">오늘의 최고의 메이크업은?</p>
    </div>
  </div>
  <div class="container">
      <div class="row">
      <div class="col-lg-offset-1" id="bokeh_graph"></div>
      </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-lg-12 col-lg-offset-1">
        <h2>Day</h2>
        <table class="table table-striped" id="star_table">
          <tr>
            <th>Rank</th>
            <th>Profile</th>
            <th>Name</th>
            <th>Number</th>
            <th>Go</th>
          </tr>
          
            {% for object in object_list %}
              <tr>
                <th>{{forloop.counter}}</th>
                <th>
                  {% if object.author.profile.profile_photo %}
                    <img class="card-img-profile" src="{{object.author.profile.profile_photo.url}}" width="70px" height="70px"> <br>
                  {% else %}
                    <img src="{% static 'img/123123123123.png' %}" class="noProfile" width="70px" height="70px"> <br>
                  {% endif %}
                </th>
                <th>{{object.author}}</th>
                <th>{{object.like.all.count}}</th>
                <th>
                  <form action="{% url 'sns:ranking'  %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="next" value="{{object.author}}">
                      <button class="btn btn-primary">{{ object.author }} 회원님의 스토리 이동</button>
                  </form>
                </th>
              </tr>

            {% endfor %}
           
        </table>

        
      </div>
    </div>

    <hr>
  </div> <!-- /container -->

<!-- <div class='container'>
    <div class='row'>
        <div class="col"></div>
        <div class="col-5">
            {% for object in object_list %}
            <div class="card">
                <div class="card-header">
                    {{ object.author}}
                </div>
                <img src = "{{object.image.url}}" class = "card-img-top" alt=>
                <div class = "card-body">
                    <p class="card-text">{{object.text}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    {% if user.is_authenticated %}
                    <li class="list-group-item">
                        <a href="{% url 'sns:like' object.id %}" class = "float-left btn-like" {%if user in object.like.all%} active {%endif%}>좋아요!</a>
                        {% if object.like.all.cout %}
                        <span class = "float-left">
                            {{object.like.all.count}}
                        </span>
                        {% endif %}
                        <a href="{% url 'sns:favorite' object.id %}" class = "float-right btn-favorite" {%if user in object.favorite.all%} active {%endif%}>저장!</a>
                    </li>
                    {% endif %}
                    <li class="list-group-item">생성일 : {{object.created}}</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'sns:detail' object.id %}" class="card-link">댓글</a>
                    <a href="{% url 'sns:update' object.id %}" class="card-link">수정</a>
                    <a href="{% url 'sns:delete' object.id %}" class="card-link">삭제</a>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
    <div class="col"></div>
</div> -->
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block extra-script %}
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';

    var vm = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            isHeart : false
        },
        methods: {

        },
    })
</script>

{% endblock extra-script %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'sns/js/feed_list_js.js' %}"></script>
{% endblock %}