{% extends 'base.html' %}

{% load staticfiles %}
 
{% block extra-style %}
{% endblock extra-style %}

{% block navbar%}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12" >
        <div id = "mdb-lightbox no-margin">
            <div class = "row">
                {% for object in object_list%}
                &nbsp;
                {% if object.author.username == name %}
                <figure class="col-md-3">
                    <div style="width:18rem;">
                        {{object.author}}님의 게시물
                        <img src = {{object.image.url}} class="card-img-top" alt="...">
                    </div>
                </figure>
                {% endif %}
                {% endfor%}
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
<!-- 사진 -->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sns.css' %}" />


{% endblock content %}
{% block footer %}
{% endblock footer %}

{% block extra-script %}
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';

    var vm = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {

        },
        methods: {

        },
    })
</script>
{% endblock extra-script %}