{% extends 'base.html' %}

{% load staticfiles %}

{% block extra-style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sns.css' %}" />
<style>
    .profile-img {
        width: 200px;
        height: 200px;
        border: 1px solid lightgray;
        border-radius: 100%;
    }

    .thumblist {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .thumblist li {
        float: left;
        height: 200px;
        width: 200px;
        margin: 5px;
        overflow: hidden;
    }

    .thumblist img {
        display: inline-block;
        min-width: 100%;
        min-height: 100%;
        -ms-interpolation-mode: bicubic;
    }

    .width-100 {
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .height-100 {
        height: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
</style>
{% endblock extra-style %}

{% block navbar%}
{% include 'navbar.html' %}
{% endblock %}


{% block content %}
<div id="app" class="container">
    <div class="row">
        <div class="col-6 mt-5 mb-5 pr-5 d-flex justify-content-end">
            {% if user.profile.profile_photo %}
            <img src="{{user.profile.profile_photo.url}}" class="profile-img">
            {% else %}
            <img src="{% static 'img/123123123123.png' %}" class="profile-img">
            {% endif %}
        </div>
        <div class="col-6 mt-5 mb-5 pl-5 d-flex flex-column justify-content-center">
            {% for object in object_list %}
            {% if object.author.username == name %}
            <input type="hidden" class="hidden-object">
            <input type="hidden" class="hidden-like" value="{{object.like.all.count}}">
            {% endif %}
            {% endfor %}
            <div class="profile-name mb-3">{{name}}님의 스토리</div>
            <div class="post-count">게시글 : [[ userPostCount ]]개</div>
            <div class="like-count">{{name}}님은 [[ userLikeCount ]]개의 좋아요를 받았습니다.</div>
        </div>
    </div>
    <div class="row justify-content-center">
        <ul class="thumblist">
            {% for object in object_list%}
            {% if object.author.username == name %}
            <li><a href="{% url 'sns:detail' object.id %}"><img src="{{object.image.url}}" alt=""
                        class="post-thumbnail" /></a></li>
            {% endif %}
            {% endfor%}
        </ul>
    </div>
</div>


{% endblock content %}
{% block footer %}
{% endblock footer %}

{% block extra-script %}
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';

    var vm = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {

        },
        computed: {
            userPostCount() {
                return this.$el.querySelectorAll(".hidden-object").length;
            },
            userLikeCount() {
                const likes = this.$el.querySelectorAll(".hidden-like");
                var likeCount = 0;

                for (var i in likes) {
                    if (likes[i].value != undefined)
                        likeCount += parseInt(likes[i].value);
                }

                return likeCount;
            }
        },
        mounted() {
            if (this.$el.querySelector(".post-thumbnail").src != undefined) {
                const imgs = this.$el.querySelectorAll(".post-thumbnail");
                for (var i in imgs) {
                    if (imgs[i].src != undefined) {
                        var img = new Image();

                        img.src = imgs[i].src;
                        if (img.width > img.height) {
                            imgs[i].classList.add("height-100");
                        }
                        else {
                            imgs[i].classList.add("width-100");
                        }
                    }
                }
            }
        }
    })
</script>
{% endblock extra-script %}