asn1crypto==1.1.0
awsebcli==3.15.3
Babel==2.7.0
beautifulsoup4==4.8.1
botocore==1.12.243
bs4==0.0.1
cement==2.8.2
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
colorama==0.3.9
cryptography==2.7
disqus==0.0.4
Django==2.1.1
django-cors-headers==3.1.1
django-crispy-forms==1.8.1
django-phonenumber-field==3.0.1
djangorestframework==3.10.3
docutils==0.15.2
et-xmlfile==1.0.1
future==0.16.0
idna==2.7
jdcal==1.4.1
jmespath==0.9.4
jsonfield==2.0.2
openpyxl==3.0.0
pathspec==0.5.9
phonenumbers==8.10.21
Pillow==6.2.1
pycparser==2.19
PyMySQL==0.9.3
python-dateutil==2.8.0
pytz==2019.2
PyYAML==3.13
requests==2.20.1
semantic-version==2.5.0
six==1.11.0
soupsieve==1.9.5
termcolor==1.1.0
urllib3==1.24.3
wcwidth==0.1.7
